openapi: 3.1.0
info:
  version: 3.0.0
  title: Platform Server Accounts Effects API
  description: 'The platform server is an internal component. It should be hosted in a private network and should not be accessible from the Internet. This server enables the business to fetch and update the state of transactions using its API.

    '
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://platform-server.exampleanchor.com
tags:
- name: Effects
  description: Effects represent specific changes that occur in the ledger as a result of successful operations, but are not necessarily directly reflected in the ledger or history, as transactions and operations are.
paths:
  /effects:
    get:
      tags:
      - Effects
      summary: List All Effects
      description: This endpoint lists all effects and can be used in streaming mode. Streaming mode allows you to listen for new effects as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known effect unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream effects created since your request time.
      operationId: ListAllEffects
      parameters:
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - $ref: '#/components/schemas/Effect'
              examples:
                ListAllEffects:
                  $ref: '#/components/examples/ListAllEffects'
components:
  schemas:
    id:
      type: string
    paging_token:
      type: string
    Effect:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            records:
              type: array
              items:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      operation:
                        $ref: '#/components/schemas/link'
                      succeeds:
                        $ref: '#/components/schemas/link'
                      precedes:
                        $ref: '#/components/schemas/link'
                  id:
                    $ref: '#/components/schemas/id'
                  paging_token:
                    $ref: '#/components/schemas/paging_token'
                  account:
                    $ref: '#/components/schemas/address'
                  type:
                    type: string
                    enum:
                    - Account Created
                    - Account Removed
                    - Account Credited
                    - Account Debited
                    - Account Thresholds Updated
                    - Account Home Domain Updated
                    - Account Flags Updated
                    - Account Inflation Destination Updated
                    - Signer Created
                    - Signer Removed
                    - Signer Updated
                    - Trustline Created
                    - Trustline Removed
                    - Trustline Updated
                    - Trustline Authorized
                    - Trustline Deauthorized
                    - Offer Created
                    - Offer Removed
                    - Offer Updated
                    - Trade
                    - Data Created
                    - Data Removed
                    - Data Updated
                    - Claimable Balance Created
                    - Claimable Balance Claimant Created
                    - Claimable Balance Claimed
                    - Account Sponsorship Created
                    - Account Sponsorship Updated
                    - Account Sponsorship Removed
                    - Trustline Sponsorship Created
                    - Trustline Sponsorship Updated
                    - Trustline Sponsorship Removed
                    - Account Data Sponsorship Created
                    - Account Data Sponsorship Updated
                    - Account Data Sponsorship Removed
                    - Claimable Balance Sponsorship Created
                    - Claimable Balance Sponsorship Updated
                    - Claimable Balance Sponsorship Removed
                    - Account Signer Sponsorship Created
                    - Account Signer Sponsorship Updated
                    - Account Signer Sponsorship Removed
                    - Liquidity Pool Created
                    - Liquidity Pool Removed
                    - Liquidity Pool Revoked
                    - Liquidity Pool Deposited
                    - Liquidity Pool Withdraw
                    - Liquidity Pool Trade
                    - Sequence Bumped
                  type_i:
                    type: number
                    example: 1
                  created_at:
                    type: string
          required:
          - id
          - paging_token
          - account
          - type
          - type_i
          - created_at
    Links:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            next:
              $ref: '#/components/schemas/link'
            prev:
              $ref: '#/components/schemas/link'
    address:
      type: string
      pattern: G[A-Z0-9]{55}
    link:
      type: object
      properties:
        href:
          type: string
          format: link
        templated:
          type: boolean
      required:
      - href
  parameters:
    OrderParam:
      name: order
      in: query
      required: false
      description: A designation of the order in which records should appear. Options include `asc` (ascending) or `desc` (descending). If this argument isn’t set, it defaults to `asc`.
      schema:
        type: string
        enum:
        - asc
        - desc
    CursorParam:
      name: cursor
      in: query
      required: false
      description: A number that points to a specific location in a collection of responses and is pulled from the paging_token value of a record.
      schema:
        type: integer
        example: 6606617478959105
    LimitParam:
      name: limit
      in: query
      required: false
      description: The maximum number of records returned. The limit can range from 1 to 200 - an upper limit that is hardcoded in Horizon for performance reasons. If this argument isn’t designated, it defaults to 10.
      schema:
        type: integer
        example: 10
  examples:
    ListAllEffects:
      value:
        _links:
          self:
            href: https://horizon-testnet.stellar.org/effects?cursor=&limit=10&order=asc
          next:
            href: https://horizon-testnet.stellar.org/effects?cursor=33676838572034-1&limit=10&order=asc
          prev:
            href: https://horizon-testnet.stellar.org/effects?cursor=12884905985-1&limit=10&order=desc
        _embedded:
          records:
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/12884905985
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=12884905985-1
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=12884905985-1
            id: 0000000012884905985-0000000001
            paging_token: 12884905985-1
            account: GALPCCZN4YXA3YMJHKL6CVIECKPLJJCTVMSNYWBTKJW4K5HQLYLDMZTB
            type: account_created
            type_i: 0
            created_at: '2015-09-30T17:15:54Z'
            starting_balance: '20.0000000'
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/12884905985
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=12884905985-2
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=12884905985-2
            id: 0000000012884905985-0000000002
            paging_token: 12884905985-2
            account: GAAZI4TCR3TY5OJHCTJC2A4QSY6CJWJH5IAJTGKIN2ER7LBNVKOCCWN7
            type: account_debited
            type_i: 3
            created_at: '2015-09-30T17:15:54Z'
            asset_type: native
            amount: '20.0000000'
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/12884905985
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=12884905985-3
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=12884905985-3
            id: 0000000012884905985-0000000003
            paging_token: 12884905985-3
            account: GALPCCZN4YXA3YMJHKL6CVIECKPLJJCTVMSNYWBTKJW4K5HQLYLDMZTB
            type: signer_created
            type_i: 10
            created_at: '2015-09-30T17:15:54Z'
            weight: 1
            public_key: GALPCCZN4YXA3YMJHKL6CVIECKPLJJCTVMSNYWBTKJW4K5HQLYLDMZTB
            key: ''
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/12884905986
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=12884905986-1
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=12884905986-1
            id: 0000000012884905986-0000000001
            paging_token: 12884905986-1
            account: GALPCCZN4YXA3YMJHKL6CVIECKPLJJCTVMSNYWBTKJW4K5HQLYLDMZTB
            type: account_credited
            type_i: 2
            created_at: '2015-09-30T17:15:54Z'
            asset_type: native
            amount: '99999999959.9999700'
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/12884905986
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=12884905986-2
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=12884905986-2
            id: 0000000012884905986-0000000002
            paging_token: 12884905986-2
            account: GAAZI4TCR3TY5OJHCTJC2A4QSY6CJWJH5IAJTGKIN2ER7LBNVKOCCWN7
            type: account_debited
            type_i: 3
            created_at: '2015-09-30T17:15:54Z'
            asset_type: native
            amount: '99999999959.9999700'
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/12884905987
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=12884905987-1
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=12884905987-1
            id: 0000000012884905987-0000000001
            paging_token: 12884905987-1
            account: GAAZI4TCR3TY5OJHCTJC2A4QSY6CJWJH5IAJTGKIN2ER7LBNVKOCCWN7
            type: signer_removed
            type_i: 11
            created_at: '2015-09-30T17:15:54Z'
            weight: 0
            public_key: GAAZI4TCR3TY5OJHCTJC2A4QSY6CJWJH5IAJTGKIN2ER7LBNVKOCCWN7
            key: ''
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/33676838572033
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=33676838572033-1
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=33676838572033-1
            id: 0000033676838572033-0000000001
            paging_token: 33676838572033-1
            account: GAP2KHWUMOHY7IO37UJY7SEBIITJIDZS5DRIIQRPEUT4VUKHZQGIRWS4
            type: account_created
            type_i: 0
            created_at: '2015-10-01T04:15:01Z'
            starting_balance: '20.0000000'
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/33676838572033
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=33676838572033-2
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=33676838572033-2
            id: 0000033676838572033-0000000002
            paging_token: 33676838572033-2
            account: GALPCCZN4YXA3YMJHKL6CVIECKPLJJCTVMSNYWBTKJW4K5HQLYLDMZTB
            type: account_debited
            type_i: 3
            created_at: '2015-10-01T04:15:01Z'
            asset_type: native
            amount: '20.0000000'
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/33676838572033
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=33676838572033-3
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=33676838572033-3
            id: 0000033676838572033-0000000003
            paging_token: 33676838572033-3
            account: GAP2KHWUMOHY7IO37UJY7SEBIITJIDZS5DRIIQRPEUT4VUKHZQGIRWS4
            type: signer_created
            type_i: 10
            created_at: '2015-10-01T04:15:01Z'
            weight: 1
            public_key: GAP2KHWUMOHY7IO37UJY7SEBIITJIDZS5DRIIQRPEUT4VUKHZQGIRWS4
            key: ''
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/33676838572034
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=33676838572034-1
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=33676838572034-1
            id: 0000033676838572034-0000000001
            paging_token: 33676838572034-1
            account: GCZTBYH66ISTZKUPVJWTMHWBH4S4JIJ7WNLQJXCTQJKWY3FIT34BWZCJ
            type: account_created
            type_i: 0
            created_at: '2015-10-01T04:15:01Z'
            starting_balance: '20.0000000'
