openapi: 3.1.0
info:
  version: 3.0.0
  title: Platform Server Accounts API
  description: 'The platform server is an internal component. It should be hosted in a private network and should not be accessible from the Internet. This server enables the business to fetch and update the state of transactions using its API.

    '
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://platform-server.exampleanchor.com
tags:
- name: Accounts
  description: Users interact with the Stellar network through accounts. Everything else in the ledger—assets, offers, trustlines, etc. are owned by accounts, and accounts must authorize all changes to the ledger through signed transactions.
paths:
  /accounts:
    get:
      tags:
      - Accounts
      summary: List all Accounts
      description: 'This endpoint lists accounts by one of four filters : signer, asset, liquidity pool  or sponsor.'
      operationId: ListAllAccounts
      parameters:
      - $ref: '#/components/parameters/SponsorParam'
      - $ref: '#/components/parameters/AssetParam'
      - $ref: '#/components/parameters/SignerParam'
      - $ref: '#/components/parameters/LiquidityPoolParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: 'Returns accounts based on provided filter: signer , asset, sponser or liquidity pool'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - $ref: '#/components/schemas/Account'
              examples:
                ListAllAccounts:
                  $ref: '#/components/examples/ListAllAccounts'
  /accounts/{account_id}:
    get:
      tags:
      - Accounts
      summary: Retrieve an Account
      description: The single account endpoint provides information on a specific account. The balances section in the response will also list all the trustlines this account has established, including trustlines that haven’t been authorized yet.
      operationId: RetrieveAnAccount
      parameters:
      - $ref: '#/components/parameters/AccountIDParam'
      responses:
        '200':
          description: Returns details like balances, sponserships etc. about an account.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - $ref: '#/components/schemas/Account'
              examples:
                RetrieveAnAccount:
                  $ref: '#/components/examples/RetrieveAnAccount'
  /accounts/{account_id}/transactions:
    get:
      tags:
      - Accounts
      summary: Retrieve an Account's Transactions
      description: This endpoint represents successful transactions for a given account and can be used in streaming mode. Streaming mode allows you to listen for new transactions for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known transaction unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream transactions created since your request time.
      operationId: GetTransactionsByAccountId
      parameters:
      - $ref: '#/components/parameters/AccountIDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/IncludeFailedParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - $ref: '#/components/schemas/Transaction'
              examples:
                RetrieveAnAccountsTransactions:
                  $ref: '#/components/examples/RetrieveAnAccountsTransactions'
  /accounts/{account_id}/operations:
    get:
      tags:
      - Accounts
      summary: Retrieve an Account's Operations
      description: This endpoint represents successful operations for a given account and can be used in streaming mode. Streaming mode allows you to listen for new operations for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known operation unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream operations created since your request time.
      operationId: GetOperationsByAccountId
      parameters:
      - $ref: '#/components/parameters/AccountIDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/IncludeFailedParam'
      - $ref: '#/components/parameters/JoinParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - oneOf:
                  - $ref: '#/components/schemas/CreateAccount'
                  - $ref: '#/components/schemas/Payment'
                  - $ref: '#/components/schemas/PathPaymentStrictReceive'
                  - $ref: '#/components/schemas/PathPaymentStrictSend'
                  - $ref: '#/components/schemas/AccountMerge'
              examples:
                RetrieveAnAccountsOperations:
                  $ref: '#/components/examples/RetrieveAnAccountsOperations'
  /accounts/{account_id}/payments:
    get:
      tags:
      - Accounts
      summary: Retrieve an Account's Payments
      description: This endpoint represents successful payments for a given account and can be used in streaming mode. Streaming mode allows you to listen for new payments for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known payment unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream payments created since your request time.
      operationId: GetPaymentsByAccountId
      parameters:
      - $ref: '#/components/parameters/AccountIDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/IncludeFailedParam'
      - $ref: '#/components/parameters/JoinParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - $ref: '#/components/schemas/Payment'
              examples:
                RetrieveAnAccountsPayments:
                  $ref: '#/components/examples/RetrieveAnAccountsPayments'
  /accounts/{account_id}/effects:
    get:
      tags:
      - Accounts
      summary: Retrieve an Account's Effects
      description: This endpoint returns the effects of a specific account and can be used in streaming mode. Streaming mode allows you to listen for new effects for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known effect unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream effects created since your request time.
      operationId: GetEffectsByAccountId
      parameters:
      - $ref: '#/components/parameters/AccountIDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - oneOf:
                  - $ref: '#/components/schemas/CreateAccount'
                  - $ref: '#/components/schemas/Payment'
                  - $ref: '#/components/schemas/PathPaymentStrictReceive'
                  - $ref: '#/components/schemas/PathPaymentStrictSend'
                  - $ref: '#/components/schemas/AccountMerge'
              examples:
                RetrieveAnAccountsEffects:
                  $ref: '#/components/examples/RetrieveAnAccountsEffects'
  /accounts/{account_id}/offers:
    get:
      tags:
      - Accounts
      summary: Retrieve an Account's Offers
      description: This endpoint represents all offers a given account has currently open and can be used in streaming mode. Streaming mode allows you to listen for new offers for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known offer unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream offers created since your request time.
      operationId: GetOffersByAccountId
      parameters:
      - $ref: '#/components/parameters/AccountIDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - $ref: '#/components/schemas/Offer'
              examples:
                RetrieveAnAccountsOffers:
                  $ref: '#/components/examples/RetrieveAnAccountsOffers'
  /accounts/{account_id}/trades:
    get:
      tags:
      - Accounts
      summary: Retrieve an Account's Trades
      description: This endpoint represents all trades for a given account and can be used in streaming mode. Streaming mode allows you to listen for trades for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known trade unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream trades created since your request time.
      operationId: GetTradesByAccountId
      parameters:
      - $ref: '#/components/parameters/AccountIDParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - $ref: '#/components/schemas/Trade'
              examples:
                RetrieveAnAccountsTrades:
                  $ref: '#/components/examples/RetrieveAnAccountsTrades'
  /accounts/{account_id}/data/{key}:
    get:
      tags:
      - Accounts
      summary: Retrieve an Account's Data
      description: This endpoint represents a single data for a given account.
      operationId: GetDataByAccountId
      parameters:
      - $ref: '#/components/parameters/AccountIDParam'
      - $ref: '#/components/parameters/DataParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
              examples:
                RetrieveAnAccountsData:
                  $ref: '#/components/examples/RetrieveAnAccountsData'
components:
  schemas:
    Trade:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            records:
              type: array
              items:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      self:
                        $ref: '#/components/schemas/link'
                      base:
                        $ref: '#/components/schemas/link'
                      counter:
                        $ref: '#/components/schemas/link'
                      operation:
                        $ref: '#/components/schemas/link'
                    required:
                    - self
                    - base
                    - counter
                    - operation
                  id:
                    $ref: '#/components/schemas/id'
                  paging_token:
                    $ref: '#/components/schemas/paging_token'
                  ledger_close_time:
                    type: string
                  offer_id:
                    type: string
                  trade_type:
                    type: string
                  liquidity_pool_fee_bp:
                    type: number
                    format: uint32
                  base_liquidity_pool_id:
                    type: string
                  base_offer_id:
                    type: string
                  base_account:
                    $ref: '#/components/schemas/address'
                  base_amount:
                    type: string
                  base_asset_type:
                    type: string
                  base_asset_code:
                    type: string
                  base_asset_issuer:
                    type: string
                  counter_liquidity_pool_id:
                    type: string
                  counter_offer_id:
                    type: string
                  counter_account:
                    $ref: '#/components/schemas/address'
                  counter_amount:
                    type: string
                  counter_asset_type:
                    type: string
                  counter_asset_code:
                    type: string
                  counter_asset_issuer:
                    $ref: '#/components/schemas/address'
                  base_is_seller:
                    type: boolean
                  price:
                    $ref: '#/components/schemas/tradePrice'
                    required:
                    - id
                    - paging_token
                    - ledger_close_time
                    - trade_type
                    - base_amount
                    - base_asset_type
                    - counter_amount
                    - counter_asset_type
                    - base_is_seller
    id:
      type: string
    PathPaymentStrictSend:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            transaction:
              $ref: '#/components/schemas/link'
            effects:
              $ref: '#/components/schemas/link'
            succeeds:
              $ref: '#/components/schemas/link'
            precedes:
              $ref: '#/components/schemas/link'
          required:
          - self
          - transaction
          - effects
          - succeeds
          - precedes
        id:
          $ref: '#/components/schemas/id'
        paging_token:
          type: string
        transaction_successful:
          type: boolean
        source_account:
          $ref: '#/components/schemas/address'
        type:
          type: string
          example: path_payment_strict_send
        type_i:
          type: number
          example: 13
        created_at:
          type: string
        transaction_hash:
          type: string
        asset_type:
          type: string
          enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
        asset_code:
          type: string
        asset_issuer:
          $ref: '#/components/schemas/address'
        from:
          $ref: '#/components/schemas/address'
        to:
          $ref: '#/components/schemas/address'
        amount:
          type: string
        path:
          type: array
          items:
            type: object
            properties:
              asset_type:
                type: string
                enum:
                - native
                - credit_alphanum4
                - credit_alphanum12
              asset_code:
                type: string
              asset_issuer:
                $ref: '#/components/schemas/address'
        source_amount:
          type: string
        source_max:
          type: string
        source_asset_type:
          type: string
        source_asset_code:
          type: string
        source_asset_issuer:
          $ref: '#/components/schemas/address'
      required:
      - id
      - paging_token
      - transaction_successful
      - source_account
      - type
      - type_i
      - created_at
      - transaction_hash
      - from
      - to
      - amount
      - path
      - source_amount
      - source_asset_type
    paging_token:
      type: string
    Links:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            next:
              $ref: '#/components/schemas/link'
            prev:
              $ref: '#/components/schemas/link'
    InnerTransaction:
      type: object
      properties:
        hash:
          $ref: '#/components/schemas/hash'
        signatures:
          $ref: '#/components/schemas/signatures'
        max_fee:
          type: string
    tradePrice:
      type: object
      properties:
        n:
          type: string
        d:
          type: string
    BalanceLineNative:
      type: object
      properties:
        balance:
          $ref: '#/components/schemas/currency'
        liquidity_pool_id:
          type: string
        limit:
          $ref: '#/components/schemas/currency'
        buying_liabilites:
          $ref: '#/components/schemas/currency'
        selling_liabilites:
          $ref: '#/components/schemas/currency'
        sponser:
          type: string
        last_modified_ledger:
          $ref: '#/components/schemas/last_modified_ledger'
        is_authorized:
          type: boolean
        is_authorized_to_maintain_liabilites:
          type: boolean
        is_clawback_enabled:
          type: boolean
        asset_type:
          type: string
          enum:
          - native
      required:
      - balance
      - limit
      - asset_type
      - buying_liabilites
      - selling_liabilites
      - last_modified_ledger
      - is_authorized
      - is_authorized_to_maintain_liabilites
      - is_clawback_enabled
    AccountMerge:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            transaction:
              $ref: '#/components/schemas/link'
            effects:
              $ref: '#/components/schemas/link'
            succeeds:
              $ref: '#/components/schemas/link'
            precedes:
              $ref: '#/components/schemas/link'
          required:
          - self
          - transaction
          - effects
          - succeeds
          - precedes
        id:
          $ref: '#/components/schemas/id'
        paging_token:
          type: string
        transaction_successful:
          type: boolean
        source_account:
          $ref: '#/components/schemas/address'
        type:
          type: string
          example: account_merge
        type_i:
          type: number
          example: 8
        created_at:
          type: string
        transaction_hash:
          type: string
        account:
          $ref: '#/components/schemas/address'
        into:
          $ref: '#/components/schemas/address'
      required:
      - id
      - paging_token
      - transaction_successful
      - source_account
      - type
      - type_i
      - created_at
      - transaction_hash
      - account
      - into
    link:
      type: object
      properties:
        href:
          type: string
          format: link
        templated:
          type: boolean
      required:
      - href
    last_modified_ledger:
      type: integer
      format: uint32
    Transaction:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            records:
              type: array
              items:
                type: object
                properties:
                  memo:
                    type: string
                  _links:
                    type: object
                    properties:
                      self:
                        $ref: '#/components/schemas/link'
                      account:
                        $ref: '#/components/schemas/link'
                      ledger:
                        $ref: '#/components/schemas/link'
                      operations:
                        $ref: '#/components/schemas/link'
                      effects:
                        $ref: '#/components/schemas/link'
                      precedes:
                        $ref: '#/components/schemas/link'
                      succeeds:
                        $ref: '#/components/schemas/link'
                      transaction:
                        $ref: '#/components/schemas/link'
                    required:
                    - self
                    - account
                    - ledger
                    - operations
                    - effects
                    - precedes
                    - succeeds
                    - transaction
                  id:
                    $ref: '#/components/schemas/id'
                  paging_token:
                    type: string
                  successful:
                    type: boolean
                  hash:
                    type: string
                  ledger:
                    type: integer
                    format: int32
                  created_at:
                    type: string
                  source_account:
                    $ref: '#/components/schemas/address'
                  account_muxed:
                    type: string
                  account_muxed_id:
                    type: string
                  source_account_sequence:
                    type: string
                  fee_account:
                    $ref: '#/components/schemas/address'
                  fee_account_muxed:
                    $ref: '#/components/schemas/address'
                  fee_account_muxed_id:
                    type: string
                  fee_charged:
                    type: string
                  max_fee:
                    type: string
                  operation_count:
                    type: integer
                    format: int32
                  envelope_xdr:
                    type: string
                  result_xdr:
                    type: string
                  result_meta_xdr:
                    type: string
                  fee_meta_xdr:
                    type: string
                  memo_type:
                    type: string
                  signatures:
                    $ref: '#/components/schemas/signatures'
                  preconditions:
                    $ref: '#/components/schemas/TransactionPreconditions'
                  fee_bump_transaction:
                    $ref: '#/components/schemas/FeeBumpTransaction'
                  inner_transaction:
                    $ref: '#/components/schemas/InnerTransaction'
                required:
                - id
                - paging_token
                - successful
                - hash
                - ledger
                - created_at
                - source_account
                - source_account_sequence
                - fee_account
                - fee_charged
                - max_fee
                - operation_count
                - envelope_xdr
                - result_xdr
                - result_meta_xdr
                - memo_type
                - signatures
    currency:
      type: string
      pattern: '[0-9]+\.[0-9]{7}'
    flags:
      type: object
      properties:
        auth_required:
          type: boolean
        auth_revocable:
          type: boolean
        auth_immutable:
          type: boolean
        auth_clawback_enabled:
          type: boolean
    hash:
      type: string
    PathPaymentStrictReceive:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            transaction:
              $ref: '#/components/schemas/link'
            effects:
              $ref: '#/components/schemas/link'
            succeeds:
              $ref: '#/components/schemas/link'
            precedes:
              $ref: '#/components/schemas/link'
          required:
          - self
          - transaction
          - effects
          - succeeds
          - precedes
        id:
          $ref: '#/components/schemas/id'
        paging_token:
          type: string
        transaction_successful:
          type: boolean
        source_account:
          $ref: '#/components/schemas/address'
        type:
          type: string
          example: path_payment_strict_receive
        type_i:
          type: number
          example: 2
        created_at:
          type: string
        transaction_hash:
          type: string
        asset_type:
          type: string
          enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
        asset_code:
          type: string
        asset_issuer:
          $ref: '#/components/schemas/address'
        from:
          $ref: '#/components/schemas/address'
        to:
          $ref: '#/components/schemas/address'
        amount:
          type: string
        path:
          type: array
          items:
            type: object
            properties:
              asset_type:
                type: string
                enum:
                - native
                - credit_alphanum4
                - credit_alphanum12
              asset_code:
                type: string
              asset_issuer:
                $ref: '#/components/schemas/address'
        source_amount:
          type: string
        destination_min:
          type: string
        source_asset_type:
          type: string
        source_asset_code:
          type: string
        source_asset_issuer:
          $ref: '#/components/schemas/address'
      required:
      - id
      - paging_token
      - transaction_successful
      - source_account
      - type
      - type_i
      - created_at
      - transaction_hash
      - from
      - to
      - amount
      - path
      - source_amount
      - destination_min
    Price:
      type: object
      properties:
        n:
          type: integer
          format: int32
        d:
          type: integer
          format: int32
    signatures:
      type: array
      items:
        type: string
        pattern: G[A-Z0-9]{55}
    Offer:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            records:
              type: array
              items:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      self:
                        $ref: '#/components/schemas/link'
                      offer_maker:
                        $ref: '#/components/schemas/link'
                    required:
                    - self
                    - offer_maker
                  id:
                    $ref: '#/components/schemas/id'
                  paging_token:
                    type: string
                  seller:
                    $ref: '#/components/schemas/address'
                  selling:
                    $ref: '#/components/schemas/BaseAsset'
                  buying:
                    $ref: '#/components/schemas/BaseAsset'
                  amount:
                    type: string
                  price_r:
                    $ref: '#/components/schemas/Price'
                  price:
                    type: string
                  last_modified_ledger:
                    $ref: '#/components/schemas/last_modified_ledger'
                  last_modified_time:
                    type: string
                  sponser:
                    type: string
                required:
                - id
                - paging_token
                - seller
                - selling
                - buying
                - amount
                - price_r
                - price
                - last_modified_ledger
                - last_modified_time
    FeeBumpTransaction:
      type: object
      properties:
        hash:
          $ref: '#/components/schemas/hash'
        signatures:
          $ref: '#/components/schemas/signatures'
    address:
      type: string
      pattern: G[A-Z0-9]{55}
    sequence:
      type: string
      pattern: '[0-9]+'
    BalanceLineLiquidityPool:
      type: object
      properties:
        liquidity_pool_id:
          type: string
        asset_type:
          type: string
          enum:
          - liquidity_pool_shares
        balance:
          $ref: '#/components/schemas/currency'
        limit:
          $ref: '#/components/schemas/currency'
        last_modified_ledger:
          $ref: '#/components/schemas/last_modified_ledger'
        sponser:
          $ref: '#/components/schemas/address'
        is_authorized:
          type: boolean
        is_authorized_to_maintain_liabilites:
          type: boolean
        is_clawback_enabled:
          type: boolean
      required:
      - liquidity_pool_id
      - balance
      - limit
      - asset_type
      - last_modified_ledger
      - is_authorized
      - is_authorized_to_maintain_liabilites
      - is_clawback_enabled
    subentry_count:
      type: integer
      format: int32
    thresholds:
      type: object
      properties:
        low_threshold:
          type: integer
        med_threshold:
          type: integer
        high_threshold:
          type: integer
    BaseAsset:
      type: object
      properties:
        asset_type:
          type: string
        asset_code:
          type: string
        asset_issuer:
          type: string
      required:
      - asset_type
    BalanceLineAsset:
      type: object
      properties:
        balance:
          $ref: '#/components/schemas/currency'
        limit:
          $ref: '#/components/schemas/currency'
        buying_liabilites:
          $ref: '#/components/schemas/currency'
        selling_liabilites:
          $ref: '#/components/schemas/currency'
        sponser:
          $ref: '#/components/schemas/address'
        last_modified_ledger:
          $ref: '#/components/schemas/last_modified_ledger'
        is_authorized:
          type: boolean
        is_authorized_to_maintain_liabilites:
          type: boolean
        is_clawback_enabled:
          type: boolean
        asset_type:
          type: string
          enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
        asset_code:
          type: string
        asset_issuer:
          $ref: '#/components/schemas/address'
      required:
      - balance
      - limit
      - asset_type
      - asset_code
      - asset_issuer
      - buying_liabilites
      - selling_liabilites
      - last_modified_ledger
      - is_authorized
      - is_authorized_to_maintain_liabilites
      - is_clawback_enabled
    TransactionPreconditions:
      type: object
      properties:
        timebounds:
          $ref: '#/components/schemas/TransactionPreconditionsTimebounds'
        ledgerbounds:
          $ref: '#/components/schemas/TransactionPreconditionsLedgerbounds'
        min_account_sequence:
          type: string
        min_account_sequence_age:
          type: string
        min_account_sequence_ledger_gap:
          type: integer
          format: uint32
        extra_signers:
          type: array
          items:
            type: string
    signers:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/address'
        weight:
          type: integer
          format: int32
        type:
          type: string
          enum:
          - ed25519_public_key
          - sha256_hash
          - preauth_tx
        sponser:
          $ref: '#/components/schemas/address'
      required:
      - key
      - weight
      - type
    TransactionPreconditionsLedgerbounds:
      type: object
      properties:
        min_ledger:
          type: string
        max_ledger:
          type: string
    TransactionPreconditionsTimebounds:
      type: object
      properties:
        min_time:
          type: string
        max_time:
          type: string
    Account:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            records:
              type: array
              items:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      self:
                        $ref: '#/components/schemas/link'
                      transactions:
                        $ref: '#/components/schemas/link'
                      operations:
                        $ref: '#/components/schemas/link'
                      payments:
                        $ref: '#/components/schemas/link'
                      effects:
                        $ref: '#/components/schemas/link'
                      offers:
                        $ref: '#/components/schemas/link'
                      trades:
                        $ref: '#/components/schemas/link'
                      data:
                        $ref: '#/components/schemas/link'
                    required:
                    - self
                    - transactions
                    - operations
                    - payments
                    - effects
                    - offers
                    - trades
                    - data
                  id:
                    $ref: '#/components/schemas/id'
                  account_id:
                    $ref: '#/components/schemas/address'
                  sequence:
                    $ref: '#/components/schemas/sequence'
                  sequence_ledger:
                    $ref: '#/components/schemas/sequence_ledger'
                  sequence_time:
                    type: string
                  subentry_count:
                    $ref: '#/components/schemas/subentry_count'
                  inflation_destination:
                    $ref: '#/components/schemas/address'
                  home_domain:
                    type: string
                  last_modified_ledger:
                    $ref: '#/components/schemas/last_modified_ledger'
                  last_modified_time:
                    type: string
                  thresholds:
                    $ref: '#/components/schemas/thresholds'
                  flags:
                    $ref: '#/components/schemas/flags'
                  balances:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/BalanceLineNative'
                      - $ref: '#/components/schemas/BalanceLineAsset'
                      - $ref: '#/components/schemas/BalanceLineLiquidityPool'
                  signers:
                    type: array
                    items:
                      $ref: '#/components/schemas/signers'
                  data:
                    type: object
                  num_sponsoring:
                    type: integer
                  num_sponsered:
                    type: integer
                  sponser:
                    $ref: '#/components/schemas/address'
                  paging_token:
                    type: string
                required:
                - id
                - account_id
                - sequence
                - subentry_count
                - last_modified_ledger
                - last_modified_time
                - thresholds
                - flags
                - balances
                - signers
                - data
                - num_sponsoring
                - num_sponsered
                - paging_token
    sequence_ledger:
      type: integer
      format: uint32
    Payment:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            records:
              type: array
              items:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      self:
                        $ref: '#/components/schemas/link'
                      transaction:
                        $ref: '#/components/schemas/link'
                      effects:
                        $ref: '#/components/schemas/link'
                      succeeds:
                        $ref: '#/components/schemas/link'
                      precedes:
                        $ref: '#/components/schemas/link'
                    required:
                    - self
                    - transaction
                    - effects
                    - succeeds
                    - precedes
                  id:
                    $ref: '#/components/schemas/id'
                  paging_token:
                    type: string
                  transaction_successful:
                    type: boolean
                  source_account:
                    $ref: '#/components/schemas/address'
                  type:
                    type: string
                    example: payment
                  type_i:
                    type: string
                  created_at:
                    type: string
                  transaction_hash:
                    type: string
                  asset_type:
                    type: string
                  asset_code:
                    enum:
                    - native
                    - credit_alphanum4
                    - credit_alphanum12
                  asset_issuer:
                    $ref: '#/components/schemas/address'
                  from:
                    $ref: '#/components/schemas/address'
                  to:
                    $ref: '#/components/schemas/address'
                  amount:
                    type: string
                required:
                - id
                - paging_token
                - transaction_successful
                - source_account
                - type
                - type_i
                - created_at
                - transaction_hash
                - asset_type
                - from
                - to
                - amount
    CreateAccount:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            transaction:
              $ref: '#/components/schemas/link'
            effects:
              $ref: '#/components/schemas/link'
            succeeds:
              $ref: '#/components/schemas/link'
            precedes:
              $ref: '#/components/schemas/link'
          required:
          - self
          - transaction
          - effects
          - succeeds
          - precedes
        id:
          $ref: '#/components/schemas/id'
        paging_token:
          type: string
        transaction_successful:
          type: boolean
        source_account:
          $ref: '#/components/schemas/address'
        type:
          type: string
          example: create_account
        type_i:
          type: number
          example: 0
        created_at:
          type: string
        transaction_hash:
          type: string
        starting_balance:
          type: string
        funder:
          $ref: '#/components/schemas/address'
        account:
          $ref: '#/components/schemas/address'
      required:
      - id
      - paging_token
      - transaction_successful
      - source_account
      - type
      - type_i
      - created_at
      - transaction_hash
      - starting_balance
      - funder
      - account
  parameters:
    SignerParam:
      name: signer
      in: query
      required: false
      description: Account ID of the signer. Every account in the response will have the given account ID as a signer.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    DataParam:
      name: key
      in: path
      required: true
      description: The key name for this data.
      schema:
        type: string
        example: config.memo_required
    OrderParam:
      name: order
      in: query
      required: false
      description: A designation of the order in which records should appear. Options include `asc` (ascending) or `desc` (descending). If this argument isn’t set, it defaults to `asc`.
      schema:
        type: string
        enum:
        - asc
        - desc
    AccountIDParam:
      name: account_id
      in: path
      required: true
      description: This account’s public key encoded in a base32 string representation.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    LiquidityPoolParam:
      name: liqudity_pool
      in: query
      required: false
      description: With this parameter, the results will include only accounts which have trustlines to the specified liquidity pool.
    JoinParam:
      name: join
      in: query
      required: false
      description: Set to transactions to include the transactions which created each of the operations in the response.
    CursorParam:
      name: cursor
      in: query
      required: false
      description: A number that points to a specific location in a collection of responses and is pulled from the paging_token value of a record.
      schema:
        type: integer
        example: 6606617478959105
    SponsorParam:
      name: sponser
      in: query
      required: false
      description: Account ID of the sponsor. Every account in the response will either be sponsored by the given account ID or have a subentry (trustline, offer, or data entry) which is sponsored by the given account ID.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    AssetParam:
      name: asset
      in: query
      required: false
      description: An issued asset represented as “Code:IssuerAccountID”. Every account in the response will have a trustline for the given asset.
    LimitParam:
      name: limit
      in: query
      required: false
      description: The maximum number of records returned. The limit can range from 1 to 200 - an upper limit that is hardcoded in Horizon for performance reasons. If this argument isn’t designated, it defaults to 10.
      schema:
        type: integer
        example: 10
    IncludeFailedParam:
      name: include_failed
      in: query
      required: false
      description: Set to true to include failed operations in results. Options include true and false.
      schema:
        type: boolean
        enum:
        - true
        - false
  examples:
    RetrieveAnAccountsData:
      value:
        value: MQ==
    RetrieveAnAccountsEffects:
      value:
        _links:
          self:
            href: https://horizon-testnet.stellar.org/accounts/GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE/effects?cursor=&limit=10&order=asc
          next:
            href: https://horizon-testnet.stellar.org/accounts/GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE/effects?cursor=147350483860869151-1&limit=10&order=asc
          prev:
            href: https://horizon-testnet.stellar.org/accounts/GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE/effects?cursor=110694007436259329-1&limit=10&order=desc
        _embedded:
          records:
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/110694007436259329
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=110694007436259329-1
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=110694007436259329-1
            id: 0110694007436259329-0000000001
            paging_token: 110694007436259329-1
            account: GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE
            type: account_created
            type_i: 0
            created_at: '2019-09-11T13:16:44Z'
            starting_balance: '1.0000000'
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/110694007436259329
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=110694007436259329-3
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=110694007436259329-3
            id: 0110694007436259329-0000000003
            paging_token: 110694007436259329-3
            account: GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE
            type: signer_created
            type_i: 10
            created_at: '2019-09-11T13:16:44Z'
            weight: 1
            public_key: GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE
            key: ''
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/110694007436259330
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=110694007436259330-2
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=110694007436259330-2
            id: 0110694007436259330-0000000002
            paging_token: 110694007436259330-2
            account: GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE
            type: account_credited
            type_i: 2
            created_at: '2019-09-11T13:16:44Z'
            asset_type: native
            amount: '355.2904739'
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/115354197276323841
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=115354197276323841-1
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=115354197276323841-1
            id: 0115354197276323841-0000000001
            paging_token: 115354197276323841-1
            account: GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE
            type: account_credited
            type_i: 2
            created_at: '2019-11-18T19:59:40Z'
            asset_type: native
            amount: '688.4065454'
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/117356420835532801
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=117356420835532801-1
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=117356420835532801-1
            id: 0117356420835532801-0000000001
            paging_token: 117356420835532801-1
            account: GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE
            type: account_credited
            type_i: 2
            created_at: '2019-12-18T08:23:35Z'
            asset_type: native
            amount: '355.3887598'
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/119399833130811393
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=119399833130811393-1
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=119399833130811393-1
            id: 0119399833130811393-0000000001
            paging_token: 119399833130811393-1
            account: GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE
            type: trustline_created
            type_i: 20
            created_at: '2020-01-17T20:13:22Z'
            asset_type: credit_alphanum4
            asset_code: USD
            asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
            limit: '922337203685.4775000'
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/119399833130811394
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=119399833130811394-1
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=119399833130811394-1
            id: 0119399833130811394-0000000001
            paging_token: 119399833130811394-1
            account: GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE
            type: trade
            type_i: 33
            created_at: '2020-01-17T20:13:22Z'
            seller: GCM4PT6XDZBWOOENDS6FOU22GJQLJPV2GC7VRVII4TFGZBA3ZXNM55SV
            offer_id: '147625249'
            sold_amount: '539.0320108'
            sold_asset_type: native
            bought_amount: '32.8490620'
            bought_asset_type: credit_alphanum4
            bought_asset_code: USD
            bought_asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/119399833130811394
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=119399833130811394-3
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=119399833130811394-3
            id: 0119399833130811394-0000000003
            paging_token: 119399833130811394-3
            account: GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE
            type: trade
            type_i: 33
            created_at: '2020-01-17T20:13:22Z'
            seller: GBDVKE33GVVMBXX73OHIBRP6RAHKHHW2P4PQVV6UNOKQCOXU7GNUM4QI
            offer_id: '147618811'
            sold_amount: '854.9537682'
            sold_asset_type: native
            bought_amount: '52.0920258'
            bought_asset_type: credit_alphanum4
            bought_asset_code: USD
            bought_asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/119400713599217665
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=119400713599217665-2
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=119400713599217665-2
            id: 0119400713599217665-0000000002
            paging_token: 119400713599217665-2
            account: GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE
            type: account_debited
            type_i: 3
            created_at: '2020-01-17T20:32:38Z'
            asset_type: credit_alphanum4
            asset_code: USD
            asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
            amount: '84.9410878'
          - _links:
              operation:
                href: https://horizon-testnet.stellar.org/operations/147350483860869151
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=147350483860869151-1
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=147350483860869151-1
            id: 0147350483860869151-0000000001
            paging_token: 147350483860869151-1
            account: GCNL55IJTH2HX26HLNIGYD2JIQLTBAQL3SVPNZA6PXK7NAVHU423WOTE
            type: account_credited
            type_i: 2
            created_at: '2021-03-06T19:27:33Z'
            asset_type: native
            amount: '0.0000001'
    RetrieveAnAccountsOffers:
      value:
        _links:
          self:
            href: "https://\thorizon-testnet.stellar.org/accounts/GD3CJYUTZAY6JQF4CEI6Z7VW5O6VNGKZTBYUECTOJPEDTB7I2HZSPI2K/offers?cursor=&limit=10&order=asc"
          next:
            href: "https://\thorizon-testnet.stellar.org/accounts/GD3CJYUTZAY6JQF4CEI6Z7VW5O6VNGKZTBYUECTOJPEDTB7I2HZSPI2K/offers?cursor=164943216&limit=10&order=asc"
          prev:
            href: "https://\thorizon-testnet.stellar.org/accounts/GD3CJYUTZAY6JQF4CEI6Z7VW5O6VNGKZTBYUECTOJPEDTB7I2HZSPI2K/offers?cursor=164555927&limit=10&order=desc"
        _embedded:
          records:
          - _links:
              self:
                href: "https://\thorizon-testnet.stellar.org/offers/164555927"
              offer_maker:
                href: "https://\thorizon-testnet.stellar.org/accounts/GD3CJYUTZAY6JQF4CEI6Z7VW5O6VNGKZTBYUECTOJPEDTB7I2HZSPI2K"
            id: 164555927
            paging_token: '164555927'
            seller: GD3CJYUTZAY6JQF4CEI6Z7VW5O6VNGKZTBYUECTOJPEDTB7I2HZSPI2K
            selling:
              asset_type: native
            buying:
              asset_type: credit_alphanum4
              asset_code: BB1
              asset_issuer: GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN
            amount: '214.9999939'
            price_r:
              n: 10000000
              d: 86000001
            price: '0.1162791'
            last_modified_ledger: 28383147
            last_modified_time: '2020-02-24T22:58:38Z'
          - _links:
              self:
                href: "https://\thorizon-testnet.stellar.org/offers/164943216"
              offer_maker:
                href: "https://\thorizon-testnet.stellar.org/accounts/GD3CJYUTZAY6JQF4CEI6Z7VW5O6VNGKZTBYUECTOJPEDTB7I2HZSPI2K"
            id: 164943216
            paging_token: '164943216'
            seller: GD3CJYUTZAY6JQF4CEI6Z7VW5O6VNGKZTBYUECTOJPEDTB7I2HZSPI2K
            selling:
              asset_type: credit_alphanum4
              asset_code: BB1
              asset_issuer: GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN
            buying:
              asset_type: native
            amount: '24.9999990'
            price_r:
              n: 32224991
              d: 2500000
            price: '12.8899964'
            last_modified_ledger: 28394149
            last_modified_time: '2020-02-25T15:49:57Z'
    ListAllAccounts:
      value:
        _links:
          self:
            href: https://horizon-testnet.stellar.org/accounts?cursor=&limit=10&order=asc&signer=GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U
          next:
            href: https://horizon-testnet.stellar.org/accounts?cursor=GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U&limit=10&order=asc&signer=GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U
          prev:
            href: https://horizon-testnet.stellar.org/accounts?cursor=GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U&limit=10&order=desc&signer=GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U
        _embedded:
          records:
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/accounts/GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U
              transactions:
                href: https://horizon-testnet.stellar.org/accounts/GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U/transactions{?cursor,limit,order}
                templated: true
              operations:
                href: https://horizon-testnet.stellar.org/accounts/GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U/operations{?cursor,limit,order}
                templated: true
              payments:
                href: https://horizon-testnet.stellar.org/accounts/GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U/payments{?cursor,limit,order}
                templated: true
              effects:
                href: https://horizon-testnet.stellar.org/accounts/GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U/effects{?cursor,limit,order}
                templated: true
              offers:
                href: https://horizon-testnet.stellar.org/accounts/GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U/offers{?cursor,limit,order}
                templated: true
              trades:
                href: https://horizon-testnet.stellar.org/accounts/GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U/trades{?cursor,limit,order}
                templated: true
              data:
                href: https://horizon-testnet.stellar.org/accounts/GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U/data/{key}
                templated: true
            id: GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U
            account_id: GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U
            sequence: '24739097524306474'
            subentry_count: 3
            inflation_destination: GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U
            home_domain: tempo.eu.com
            last_modified_ledger: 40074676
            last_modified_time: '2022-03-17T23:13:54Z'
            thresholds:
              low_threshold: 5
              med_threshold: 0
              high_threshold: 0
            flags:
              auth_required: false
              auth_revocable: true
              auth_immutable: false
              auth_clawback_enabled: false
            balances:
            - balance: '0.0000000'
              limit: '922337203685.4775807'
              buying_liabilities: '0.0000000'
              selling_liabilities: '0.0000000'
              last_modified_ledger: 40074670
              is_authorized: true
              is_authorized_to_maintain_liabilities: true
              asset_type: credit_alphanum4
              asset_code: EURT
              asset_issuer: GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S
            - balance: '0.0000000'
              limit: '922337203685.4775807'
              buying_liabilities: '0.0000000'
              selling_liabilities: '0.0000000'
              last_modified_ledger: 20213845
              is_authorized: true
              is_authorized_to_maintain_liabilities: true
              asset_type: credit_alphanum4
              asset_code: NGN
              asset_issuer: GCC4YLCR7DDWFCIPTROQM7EB2QMFD35XRWEQVIQYJQHVW6VE5MJZXIGW
            - balance: '0.0000000'
              limit: '922337203685.4775807'
              buying_liabilities: '0.0000000'
              selling_liabilities: '0.0000000'
              last_modified_ledger: 7877447
              is_authorized: false
              is_authorized_to_maintain_liabilities: false
              asset_type: credit_alphanum4
              asset_code: PHP
              asset_issuer: GBUQWP3BOUZX34TOND2QV7QQ7K7VJTG6VSE7WMLBTMDJLLAW7YKGU6EP
            - balance: '80.8944518'
              buying_liabilities: '0.0000000'
              selling_liabilities: '0.0000000'
              asset_type: native
            signers:
            - weight: 10
              key: GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U
              type: ed25519_public_key
            data: {}
            num_sponsoring: 0
            num_sponsored: 0
            paging_token: GDI73WJ4SX7LOG3XZDJC3KCK6ED6E5NBYK2JUBQSPBCNNWEG3ZN7T75U
    RetrieveAnAccountsTransactions:
      value:
        _links:
          self:
            href: https://horizon-testnet.stellar.org/accounts/GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU/transactions?cursor=&limit=10&order=asc
          next:
            href: https://horizon-testnet.stellar.org/accounts/GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU/transactions?cursor=122152984477229056&limit=10&order=asc
          prev:
            href: https://horizon-testnet.stellar.org/accounts/GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU/transactions?cursor=94658837230923776&limit=10&order=desc
        _embedded:
          records:
          - memo: ''
            memo_bytes: ''
            _links:
              self:
                href: https://horizon-testnet.stellar.org/transactions/4826a3d41a5a795bf795767d0fb5e39c4abbcf695cf888b3578aa126b5b257ee
              account:
                href: https://horizon-testnet.stellar.org/accounts/GBYSOAM7D42RMUN4LCKCFYNXZU3F7TJVKD2NMR672J4372BCH6DE4BKR
              ledger:
                href: https://horizon-testnet.stellar.org/ledgers/22039478
              operations:
                href: https://horizon-testnet.stellar.org/transactions/4826a3d41a5a795bf795767d0fb5e39c4abbcf695cf888b3578aa126b5b257ee/operations{?cursor,limit,order}
                templated: true
              effects:
                href: https://horizon-testnet.stellar.org/transactions/4826a3d41a5a795bf795767d0fb5e39c4abbcf695cf888b3578aa126b5b257ee/effects{?cursor,limit,order}
                templated: true
              precedes:
                href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=94658837230923776
              succeeds:
                href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=94658837230923776
              transaction:
                href: https://horizon-testnet.stellar.org/transactions/4826a3d41a5a795bf795767d0fb5e39c4abbcf695cf888b3578aa126b5b257ee
            id: 4826a3d41a5a795bf795767d0fb5e39c4abbcf695cf888b3578aa126b5b257ee
            paging_token: '94658837230923776'
            successful: true
            hash: 4826a3d41a5a795bf795767d0fb5e39c4abbcf695cf888b3578aa126b5b257ee
            ledger: 22039478
            created_at: '2019-01-18T14:40:47Z'
            source_account: GBYSOAM7D42RMUN4LCKCFYNXZU3F7TJVKD2NMR672J4372BCH6DE4BKR
            source_account_sequence: '90296735301107721'
            fee_account: GBYSOAM7D42RMUN4LCKCFYNXZU3F7TJVKD2NMR672J4372BCH6DE4BKR
            fee_charged: '100'
            max_fee: '100'
            operation_count: 1
            envelope_xdr: AAAAAHEnAZ8fNRZRvFiUIuG3zTZfzTVQ9NZH39J5v+giP4ZOAAAAZAFAzGcAAAAJAAAAAQAAAAAAAAAAAAAAAFxB5cMAAAABAAAAAAAAAAEAAAAAAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAAC+vCAAAAAAAAAAAEiP4ZOAAAAQO421wcb/JYfBpnYEJzHpMyQnrM8rHd4PUoyHXpPlvQAUGzARqwbX8hcLSM4tlk51AwbuZOaZfWCaFQfzFZJuAA=
            result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
            result_meta_xdr: AAAAAgAAAAIAAAADAVBLtgAAAAAAAAAAcScBnx81FlG8WJQi4bfNNl/NNVD01kff0nm/6CI/hk4AAAAAI9MEZAFAzGcAAAAIAAAAAAAAAAEAAAAA7Nxp7lmV7taqQfqoSP+tlqjOHWeANaQYFqhDkCQERZQAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAVBLtgAAAAAAAAAAcScBnx81FlG8WJQi4bfNNl/NNVD01kff0nm/6CI/hk4AAAAAI9MEZAFAzGcAAAAJAAAAAAAAAAEAAAAA7Nxp7lmV7taqQfqoSP+tlqjOHWeANaQYFqhDkCQERZQAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAAwAAAAMBUEu2AAAAAAAAAABxJwGfHzUWUbxYlCLht802X801UPTWR9/Seb/oIj+GTgAAAAAj0wRkAUDMZwAAAAkAAAAAAAAAAQAAAADs3GnuWZXu1qpB+qhI/62WqM4dZ4A1pBgWqEOQJARFlAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBUEu2AAAAAAAAAABxJwGfHzUWUbxYlCLht802X801UPTWR9/Seb/oIj+GTgAAAAAg2BPkAUDMZwAAAAkAAAAAAAAAAQAAAADs3GnuWZXu1qpB+qhI/62WqM4dZ4A1pBgWqEOQJARFlAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAABUEu2AAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAAC+vCAAVBLtgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA=
            fee_meta_xdr: AAAAAgAAAAMBUCemAAAAAAAAAABxJwGfHzUWUbxYlCLht802X801UPTWR9/Seb/oIj+GTgAAAAAj0wTIAUDMZwAAAAgAAAAAAAAAAQAAAADs3GnuWZXu1qpB+qhI/62WqM4dZ4A1pBgWqEOQJARFlAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBUEu2AAAAAAAAAABxJwGfHzUWUbxYlCLht802X801UPTWR9/Seb/oIj+GTgAAAAAj0wRkAUDMZwAAAAgAAAAAAAAAAQAAAADs3GnuWZXu1qpB+qhI/62WqM4dZ4A1pBgWqEOQJARFlAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
            memo_type: text
            signatures:
            - 7jbXBxv8lh8GmdgQnMekzJCeszysd3g9SjIdek+W9ABQbMBGrBtfyFwtIzi2WTnUDBu5k5pl9YJoVB/MVkm4AA==
            preconditions:
              timebounds:
                min_time: '0'
                max_time: '1547822531'
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/transactions/ec8d5d6e64dc4df1bc8d8c200e048d6740d1e9f680612baeda0f78678c9ca666
              account:
                href: https://horizon-testnet.stellar.org/accounts/GAL62GEDMQFWRQLZXJKT4WFRFTIKPPTC2ALSD45VMK7ZUUZVBXWWXUAX
              ledger:
                href: https://horizon-testnet.stellar.org/ledgers/23895910
              operations:
                href: https://horizon-testnet.stellar.org/transactions/ec8d5d6e64dc4df1bc8d8c200e048d6740d1e9f680612baeda0f78678c9ca666/operations{?cursor,limit,order}
                templated: true
              effects:
                href: https://horizon-testnet.stellar.org/transactions/ec8d5d6e64dc4df1bc8d8c200e048d6740d1e9f680612baeda0f78678c9ca666/effects{?cursor,limit,order}
                templated: true
              precedes:
                href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=102632151958179840
              succeeds:
                href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=102632151958179840
              transaction:
                href: https://horizon-testnet.stellar.org/transactions/ec8d5d6e64dc4df1bc8d8c200e048d6740d1e9f680612baeda0f78678c9ca666
            id: ec8d5d6e64dc4df1bc8d8c200e048d6740d1e9f680612baeda0f78678c9ca666
            paging_token: '102632151958179840'
            successful: true
            hash: ec8d5d6e64dc4df1bc8d8c200e048d6740d1e9f680612baeda0f78678c9ca666
            ledger: 23895910
            created_at: '2019-05-17T14:43:53Z'
            source_account: GAL62GEDMQFWRQLZXJKT4WFRFTIKPPTC2ALSD45VMK7ZUUZVBXWWXUAX
            source_account_sequence: '93143259236270083'
            fee_account: GAL62GEDMQFWRQLZXJKT4WFRFTIKPPTC2ALSD45VMK7ZUUZVBXWWXUAX
            fee_charged: '100'
            max_fee: '100'
            operation_count: 1
            envelope_xdr: AAAAABftGINkC2jBebpVPlixLNCnvmLQFyHztWK/mlM1De1rAAAAZAFK6U0AAAADAAAAAQAAAAAAAAAAAAAAAFzeydEAAAAAAAAAAQAAAAAAAAABAAAAAGpZ5X06Hz48sKzzVFo//X67YFenBLxaxzuJcPuXebqxAAAAAAAAAALLQXgAAAAAAAAAAAE1De1rAAAAQLFFYK9rGA2Um2Vwguj4Ra3T6gaeturf4Qw/0LcG/qa/oXZeu6s7ZrB3wVVJu0m123Z7zirYoo576IS8agzLKQQ=
            result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAA=
            result_meta_xdr: AAAAAgAAAAIAAAADAWyfZgAAAAAAAAAAF+0Yg2QLaMF5ulU+WLEs0Ke+YtAXIfO1Yr+aUzUN7WsAAAAC1fwL1AFK6U0AAAACAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAWyfZgAAAAAAAAAAF+0Yg2QLaMF5ulU+WLEs0Ke+YtAXIfO1Yr+aUzUN7WsAAAAC1fwL1AFK6U0AAAADAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAABAAAAAMBUEu2AAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAAC+vCAAVBLtgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBbJ9mAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAALOPGiAAVBLtgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAMBbJ9mAAAAAAAAAAAX7RiDZAtowXm6VT5YsSzQp75i0Bch87Viv5pTNQ3tawAAAALV/AvUAUrpTQAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBbJ9mAAAAAAAAAAAX7RiDZAtowXm6VT5YsSzQp75i0Bch87Viv5pTNQ3tawAAAAAKupPUAUrpTQAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA=
            fee_meta_xdr: AAAAAgAAAAMBS+8PAAAAAAAAAAAX7RiDZAtowXm6VT5YsSzQp75i0Bch87Viv5pTNQ3tawAAAALV/Aw4AUrpTQAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBbJ9mAAAAAAAAAAAX7RiDZAtowXm6VT5YsSzQp75i0Bch87Viv5pTNQ3tawAAAALV/AvUAUrpTQAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
            memo_type: none
            signatures:
            - sUVgr2sYDZSbZXCC6PhFrdPqBp626t/hDD/Qtwb+pr+hdl67qztmsHfBVUm7SbXbdnvOKtiijnvohLxqDMspBA==
            preconditions:
              timebounds:
                min_time: '0'
                max_time: '1558104529'
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/transactions/5427d2719db9ca33706e9c06c04f91bd353e0e6f5185c6f47b517b338b8d81b2
              account:
                href: https://horizon-testnet.stellar.org/accounts/GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
              ledger:
                href: https://horizon-testnet.stellar.org/ledgers/27114571
              operations:
                href: https://horizon-testnet.stellar.org/transactions/5427d2719db9ca33706e9c06c04f91bd353e0e6f5185c6f47b517b338b8d81b2/operations{?cursor,limit,order}
                templated: true
              effects:
                href: https://horizon-testnet.stellar.org/transactions/5427d2719db9ca33706e9c06c04f91bd353e0e6f5185c6f47b517b338b8d81b2/effects{?cursor,limit,order}
                templated: true
              precedes:
                href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=116456195690164224
              succeeds:
                href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=116456195690164224
              transaction:
                href: https://horizon-testnet.stellar.org/transactions/5427d2719db9ca33706e9c06c04f91bd353e0e6f5185c6f47b517b338b8d81b2
            id: 5427d2719db9ca33706e9c06c04f91bd353e0e6f5185c6f47b517b338b8d81b2
            paging_token: '116456195690164224'
            successful: true
            hash: 5427d2719db9ca33706e9c06c04f91bd353e0e6f5185c6f47b517b338b8d81b2
            ledger: 27114571
            created_at: '2019-12-04T22:03:41Z'
            source_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            source_account_sequence: '94658837230911489'
            fee_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            fee_charged: '100'
            max_fee: '100'
            operation_count: 1
            envelope_xdr: AAAAAGpZ5X06Hz48sKzzVFo//X67YFenBLxaxzuJcPuXebqxAAAAZAFQS7YAAAABAAAAAQAAAAAAAAAAAAAAAF3oLZMAAAAAAAAAAQAAAAAAAAABAAAAAARD8QZr6wa97ii5JeeuMJEXycVsEO1dBekjRTcI9AadAAAAAAAAAAABMS0AAAAAAAAAAAGXebqxAAAAQND+muz3883MoHmTtuhsDb4awF1U3EDJ2FQn8Ia2C9L+Rz62Z9EvH8rl81d3oPxrjUnedZmjOnptn6Agm5alHwc=
            result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAA=
            result_meta_xdr: AAAAAgAAAAIAAAADAZ28SwAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACzjxoHAFQS7YAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAZ28SwAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACzjxoHAFQS7YAAAABAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAABAAAAAMBnbwPAAAAAAAAAAAEQ/EGa+sGve4ouSXnrjCRF8nFbBDtXQXpI0U3CPQGnQAAAABxZQNiAZtraAAAABsAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBnbxLAAAAAAAAAAAEQ/EGa+sGve4ouSXnrjCRF8nFbBDtXQXpI0U3CPQGnQAAAAByljBiAZtraAAAABsAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAMBnbxLAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAALOPGgcAVBLtgAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBnbxLAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAALNCzscAVBLtgAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA=
            fee_meta_xdr: AAAAAgAAAAMBbJ9mAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAALOPGiAAVBLtgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBnbxLAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAALOPGgcAVBLtgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
            memo_type: none
            signatures:
            - 0P6a7PfzzcygeZO26GwNvhrAXVTcQMnYVCfwhrYL0v5HPrZn0S8fyuXzV3eg/GuNSd51maM6em2foCCblqUfBw==
            preconditions:
              timebounds:
                min_time: '0'
                max_time: '1575497107'
          - memo: hello universe
            memo_bytes: aGVsbG8gdW5pdmVyc2U=
            _links:
              self:
                href: https://horizon-testnet.stellar.org/transactions/ef0fe04ac3c7de7228ca2598886059868ad05c224a041e8b2d9ee2a8a9dd6894
              account:
                href: https://horizon-testnet.stellar.org/accounts/GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
              ledger:
                href: https://horizon-testnet.stellar.org/ledgers/27984461
              operations:
                href: https://horizon-testnet.stellar.org/transactions/ef0fe04ac3c7de7228ca2598886059868ad05c224a041e8b2d9ee2a8a9dd6894/operations{?cursor,limit,order}
                templated: true
              effects:
                href: https://horizon-testnet.stellar.org/transactions/ef0fe04ac3c7de7228ca2598886059868ad05c224a041e8b2d9ee2a8a9dd6894/effects{?cursor,limit,order}
                templated: true
              precedes:
                href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=120192344791343104
              succeeds:
                href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=120192344791343104
              transaction:
                href: https://horizon-testnet.stellar.org/transactions/ef0fe04ac3c7de7228ca2598886059868ad05c224a041e8b2d9ee2a8a9dd6894
            id: ef0fe04ac3c7de7228ca2598886059868ad05c224a041e8b2d9ee2a8a9dd6894
            paging_token: '120192344791343104'
            successful: true
            hash: ef0fe04ac3c7de7228ca2598886059868ad05c224a041e8b2d9ee2a8a9dd6894
            ledger: 27984461
            created_at: '2020-01-29T19:43:59Z'
            source_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            source_account_sequence: '94658837230911490'
            fee_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            fee_charged: '100'
            max_fee: '100'
            operation_count: 1
            envelope_xdr: AAAAAGpZ5X06Hz48sKzzVFo//X67YFenBLxaxzuJcPuXebqxAAAAZAFQS7YAAAACAAAAAQAAAAAAAAAAAAAAAF4x4NYAAAABAAAADmhlbGxvIHVuaXZlcnNlAAAAAAABAAAAAAAAAAAAAAAAMOWtdEZJweWBDrIVGDQOVodinrlXbfzBfquR7AFtxW4AAAAAATEtAAAAAAAAAAABl3m6sQAAAEDwdDlpQv5IfweTkLjytpWIa+bpQv7BAHRFpMCHscM3g+WBKjXPVEnSP1BghLuy3uhvgv4LnCkI+gFEDZxwV/YF
            result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
            result_meta_xdr: AAAAAgAAAAIAAAADAasCTQAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACzQs6uAFQS7YAAAABAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAasCTQAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACzQs6uAFQS7YAAAACAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAAwAAAAMBqwJNAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAALNCzq4AVBLtgAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBqwJNAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAALL2g24AVBLtgAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAABqwJNAAAAAAAAAAAw5a10RknB5YEOshUYNA5Wh2KeuVdt/MF+q5HsAW3FbgAAAAABMS0AAasCTQAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA=
            fee_meta_xdr: AAAAAgAAAAMBnbxLAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAALNCzscAVBLtgAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBqwJNAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAALNCzq4AVBLtgAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
            memo_type: text
            signatures:
            - 8HQ5aUL+SH8Hk5C48raViGvm6UL+wQB0RaTAh7HDN4PlgSo1z1RJ0j9QYIS7st7ob4L+C5wpCPoBRA2ccFf2BQ==
            preconditions:
              timebounds:
                min_time: '0'
                max_time: '1580327126'
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/transactions/c1cb850f413e4038c4120bd9badc07bb8ef85a46649a4d5c9c16e578a2d30589
              account:
                href: https://horizon-testnet.stellar.org/accounts/GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
              ledger:
                href: https://horizon-testnet.stellar.org/ledgers/27984467
              operations:
                href: https://horizon-testnet.stellar.org/transactions/c1cb850f413e4038c4120bd9badc07bb8ef85a46649a4d5c9c16e578a2d30589/operations{?cursor,limit,order}
                templated: true
              effects:
                href: https://horizon-testnet.stellar.org/transactions/c1cb850f413e4038c4120bd9badc07bb8ef85a46649a4d5c9c16e578a2d30589/effects{?cursor,limit,order}
                templated: true
              precedes:
                href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=120192370561220608
              succeeds:
                href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=120192370561220608
              transaction:
                href: https://horizon-testnet.stellar.org/transactions/c1cb850f413e4038c4120bd9badc07bb8ef85a46649a4d5c9c16e578a2d30589
            id: c1cb850f413e4038c4120bd9badc07bb8ef85a46649a4d5c9c16e578a2d30589
            paging_token: '120192370561220608'
            successful: true
            hash: c1cb850f413e4038c4120bd9badc07bb8ef85a46649a4d5c9c16e578a2d30589
            ledger: 27984467
            created_at: '2020-01-29T19:44:36Z'
            source_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            source_account_sequence: '94658837230911491'
            fee_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            fee_charged: '100'
            max_fee: '100'
            operation_count: 1
            envelope_xdr: AAAAAGpZ5X06Hz48sKzzVFo//X67YFenBLxaxzuJcPuXebqxAAAAZAFQS7YAAAADAAAAAQAAAAAAAAAAAAAAAF4x4PoAAAAAAAAAAQAAAAAAAAABAAAAADDlrXRGScHlgQ6yFRg0DlaHYp65V238wX6rkewBbcVuAAAAAAAAAAB3NZQAAAAAAAAAAAGXebqxAAAAQMzdIubro9XQUTkhf0YbDBNM5tqC/zS7fGb0BLFq+QxXT7VAS7dDMno9A2f1df4nnyeHqVl+CuKcpwwwS04JSgE=
            result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAA=
            result_meta_xdr: AAAAAgAAAAIAAAADAasCUwAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACy9oNVAFQS7YAAAACAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAasCUwAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACy9oNVAFQS7YAAAADAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAABAAAAAMBqwJNAAAAAAAAAAAw5a10RknB5YEOshUYNA5Wh2KeuVdt/MF+q5HsAW3FbgAAAAABMS0AAasCTQAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBqwJTAAAAAAAAAAAw5a10RknB5YEOshUYNA5Wh2KeuVdt/MF+q5HsAW3FbgAAAAB4ZsEAAasCTQAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAMBqwJTAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAALL2g1UAVBLtgAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBqwJTAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAJUpHlUAVBLtgAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA=
            fee_meta_xdr: AAAAAgAAAAMBqwJNAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAALL2g24AVBLtgAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBqwJTAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAALL2g1UAVBLtgAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
            memo_type: none
            signatures:
            - zN0i5uuj1dBROSF/RhsME0zm2oL/NLt8ZvQEsWr5DFdPtUBLt0Myej0DZ/V1/iefJ4epWX4K4pynDDBLTglKAQ==
            preconditions:
              timebounds:
                min_time: '0'
                max_time: '1580327162'
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/transactions/e0f3d6e327a6de01223a8f0e2b88e97abeaf1f514f95f8e7c55f18b951f09dbe
              account:
                href: https://horizon-testnet.stellar.org/accounts/GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
              ledger:
                href: https://horizon-testnet.stellar.org/ledgers/28000615
              operations:
                href: https://horizon-testnet.stellar.org/transactions/e0f3d6e327a6de01223a8f0e2b88e97abeaf1f514f95f8e7c55f18b951f09dbe/operations{?cursor,limit,order}
                templated: true
              effects:
                href: https://horizon-testnet.stellar.org/transactions/e0f3d6e327a6de01223a8f0e2b88e97abeaf1f514f95f8e7c55f18b951f09dbe/effects{?cursor,limit,order}
                templated: true
              precedes:
                href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=120261725693136896
              succeeds:
                href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=120261725693136896
              transaction:
                href: https://horizon-testnet.stellar.org/transactions/e0f3d6e327a6de01223a8f0e2b88e97abeaf1f514f95f8e7c55f18b951f09dbe
            id: e0f3d6e327a6de01223a8f0e2b88e97abeaf1f514f95f8e7c55f18b951f09dbe
            paging_token: '120261725693136896'
            successful: true
            hash: e0f3d6e327a6de01223a8f0e2b88e97abeaf1f514f95f8e7c55f18b951f09dbe
            ledger: 28000615
            created_at: '2020-01-30T21:45:07Z'
            source_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            source_account_sequence: '94658837230911492'
            fee_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            fee_charged: '100'
            max_fee: '100'
            operation_count: 1
            envelope_xdr: AAAAAGpZ5X06Hz48sKzzVFo//X67YFenBLxaxzuJcPuXebqxAAAAZAFQS7YAAAAEAAAAAQAAAAAAAAAAAAAAAF4zTrgAAAAAAAAAAQAAAAAAAAABAAAAABhkaLZ/GHrh4vaarKkeK7PX2c581NvMfPvtTyATuVziAAAAAAAAAAAF9eEAAAAAAAAAAAGXebqxAAAAQB9XBu17Olvry7c8CqLJXqvK5csy2r3lGiP3HyR5JcryL8QQjSuwGr/LEFFKIS5Afo/jh9fCzGzJzZQ4DN1KPgs=
            result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAA=
            result_meta_xdr: AAAAAgAAAAIAAAADAatBZwAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACVKR48AFQS7YAAAADAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAatBZwAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACVKR48AFQS7YAAAAEAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAABAAAAAMBq0EQAAAAAAAAAAAYZGi2fxh64eL2mqypHiuz19nOfNTbzHz77U8gE7lc4gAAAAACYljUAatBDAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBq0FnAAAAAAAAAAAYZGi2fxh64eL2mqypHiuz19nOfNTbzHz77U8gE7lc4gAAAAAIWDnUAatBDAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAMBq0FnAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAJUpHjwAVBLtgAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBq0FnAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAJOrpfwAVBLtgAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA=
            fee_meta_xdr: AAAAAgAAAAMBqwJTAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAJUpHlUAVBLtgAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBq0FnAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAJUpHjwAVBLtgAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
            memo_type: none
            signatures:
            - H1cG7Xs6W+vLtzwKosleq8rlyzLaveUaI/cfJHklyvIvxBCNK7Aav8sQUUohLkB+j+OH18LMbMnNlDgM3Uo+Cw==
            preconditions:
              timebounds:
                min_time: '0'
                max_time: '1580420792'
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/transactions/329ae48814ae29ed6d9c0bb6e398932e6a178cac21623b63fbf5d8245261c041
              account:
                href: https://horizon-testnet.stellar.org/accounts/GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
              ledger:
                href: https://horizon-testnet.stellar.org/ledgers/28000619
              operations:
                href: https://horizon-testnet.stellar.org/transactions/329ae48814ae29ed6d9c0bb6e398932e6a178cac21623b63fbf5d8245261c041/operations{?cursor,limit,order}
                templated: true
              effects:
                href: https://horizon-testnet.stellar.org/transactions/329ae48814ae29ed6d9c0bb6e398932e6a178cac21623b63fbf5d8245261c041/effects{?cursor,limit,order}
                templated: true
              precedes:
                href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=120261742872928256
              succeeds:
                href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=120261742872928256
              transaction:
                href: https://horizon-testnet.stellar.org/transactions/329ae48814ae29ed6d9c0bb6e398932e6a178cac21623b63fbf5d8245261c041
            id: 329ae48814ae29ed6d9c0bb6e398932e6a178cac21623b63fbf5d8245261c041
            paging_token: '120261742872928256'
            successful: true
            hash: 329ae48814ae29ed6d9c0bb6e398932e6a178cac21623b63fbf5d8245261c041
            ledger: 28000619
            created_at: '2020-01-30T21:45:29Z'
            source_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            source_account_sequence: '94658837230911493'
            fee_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            fee_charged: '100'
            max_fee: '100'
            operation_count: 1
            envelope_xdr: AAAAAGpZ5X06Hz48sKzzVFo//X67YFenBLxaxzuJcPuXebqxAAAAZAFQS7YAAAAFAAAAAQAAAAAAAAAAAAAAAF4zTtEAAAAAAAAAAQAAAAAAAAABAAAAABhkaLZ/GHrh4vaarKkeK7PX2c581NvMfPvtTyATuVziAAAAAAAAAAAO5rKAAAAAAAAAAAGXebqxAAAAQFaUIoWWXLurZRFty6iBHmm65K2w5EZjldQcMsB/KeQl1Rh0UkZ7Q44JCDCvntnIhWfkl1Qipr6jZk/I4c+pjw8=
            result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAA=
            result_meta_xdr: AAAAAgAAAAIAAAADAatBawAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACTq6XjAFQS7YAAAAEAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAatBawAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACTq6XjAFQS7YAAAAFAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAABAAAAAMBq0FnAAAAAAAAAAAYZGi2fxh64eL2mqypHiuz19nOfNTbzHz77U8gE7lc4gAAAAAIWDnUAatBDAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBq0FrAAAAAAAAAAAYZGi2fxh64eL2mqypHiuz19nOfNTbzHz77U8gE7lc4gAAAAAXPuxUAatBDAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAMBq0FrAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAJOrpeMAVBLtgAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBq0FrAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAI/x+UMAVBLtgAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA=
            fee_meta_xdr: AAAAAgAAAAMBq0FnAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAJOrpfwAVBLtgAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBq0FrAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAJOrpeMAVBLtgAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
            memo_type: none
            signatures:
            - VpQihZZcu6tlEW3LqIEeabrkrbDkRmOV1BwywH8p5CXVGHRSRntDjgkIMK+e2ciFZ+SXVCKmvqNmT8jhz6mPDw==
            preconditions:
              timebounds:
                min_time: '0'
                max_time: '1580420817'
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/transactions/2b8a77c7e42997280b8454e39bd7c681c58ab5b7cc288ff836c1c4b6152dccfe
              account:
                href: https://horizon-testnet.stellar.org/accounts/GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
              ledger:
                href: https://horizon-testnet.stellar.org/ledgers/28210091
              operations:
                href: https://horizon-testnet.stellar.org/transactions/2b8a77c7e42997280b8454e39bd7c681c58ab5b7cc288ff836c1c4b6152dccfe/operations{?cursor,limit,order}
                templated: true
              effects:
                href: https://horizon-testnet.stellar.org/transactions/2b8a77c7e42997280b8454e39bd7c681c58ab5b7cc288ff836c1c4b6152dccfe/effects{?cursor,limit,order}
                templated: true
              precedes:
                href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=121161418262413312
              succeeds:
                href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=121161418262413312
              transaction:
                href: https://horizon-testnet.stellar.org/transactions/2b8a77c7e42997280b8454e39bd7c681c58ab5b7cc288ff836c1c4b6152dccfe
            id: 2b8a77c7e42997280b8454e39bd7c681c58ab5b7cc288ff836c1c4b6152dccfe
            paging_token: '121161418262413312'
            successful: true
            hash: 2b8a77c7e42997280b8454e39bd7c681c58ab5b7cc288ff836c1c4b6152dccfe
            ledger: 28210091
            created_at: '2020-02-13T18:54:50Z'
            source_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            source_account_sequence: '94658837230911494'
            fee_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            fee_charged: '100'
            max_fee: '100'
            operation_count: 1
            envelope_xdr: AAAAAGpZ5X06Hz48sKzzVFo//X67YFenBLxaxzuJcPuXebqxAAAAZAFQS7YAAAAGAAAAAQAAAAAAAAAAAAAAAF5Fm9EAAAAAAAAAAQAAAAAAAAAAAAAAADKjrtXFaprjtdoV8mYex4557fEGVYkp83K0vfUwEyVnAAAAAAvrwgAAAAAAAAAAAZd5urEAAABAKCO0IAmQ8hUJVMMfIxu1Q/DgZebmn09dROCFCKSEUZGYuzqlfJPYMrcOJRtf41wwMFK8Wj1g70EAw+ZDhKhJDA==
            result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
            result_meta_xdr: AAAAAgAAAAIAAAADAa5zqwAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACP8fkqAFQS7YAAAAFAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAa5zqwAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACP8fkqAFQS7YAAAAGAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAAwAAAAMBrnOrAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAI/x+SoAVBLtgAAAAYAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBrnOrAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAIz3CKoAVBLtgAAAAYAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAABrnOrAAAAAAAAAAAyo67VxWqa47XaFfJmHseOee3xBlWJKfNytL31MBMlZwAAAAAL68IAAa5zqwAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA=
            fee_meta_xdr: AAAAAgAAAAMBq0FrAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAI/x+UMAVBLtgAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBrnOrAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAI/x+SoAVBLtgAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
            memo_type: none
            signatures:
            - KCO0IAmQ8hUJVMMfIxu1Q/DgZebmn09dROCFCKSEUZGYuzqlfJPYMrcOJRtf41wwMFK8Wj1g70EAw+ZDhKhJDA==
            preconditions:
              timebounds:
                min_time: '0'
                max_time: '1581620177'
          - memo: hello world
            memo_bytes: aGVsbG8gd29ybGQ=
            _links:
              self:
                href: https://horizon-testnet.stellar.org/transactions/729e441893075fe40b6a6db0acbe38dd39243417cc8717f968414934331a6260
              account:
                href: https://horizon-testnet.stellar.org/accounts/GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
              ledger:
                href: https://horizon-testnet.stellar.org/ledgers/28211677
              operations:
                href: https://horizon-testnet.stellar.org/transactions/729e441893075fe40b6a6db0acbe38dd39243417cc8717f968414934331a6260/operations{?cursor,limit,order}
                templated: true
              effects:
                href: https://horizon-testnet.stellar.org/transactions/729e441893075fe40b6a6db0acbe38dd39243417cc8717f968414934331a6260/effects{?cursor,limit,order}
                templated: true
              precedes:
                href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=121168230080335872
              succeeds:
                href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=121168230080335872
              transaction:
                href: https://horizon-testnet.stellar.org/transactions/729e441893075fe40b6a6db0acbe38dd39243417cc8717f968414934331a6260
            id: 729e441893075fe40b6a6db0acbe38dd39243417cc8717f968414934331a6260
            paging_token: '121168230080335872'
            successful: true
            hash: 729e441893075fe40b6a6db0acbe38dd39243417cc8717f968414934331a6260
            ledger: 28211677
            created_at: '2020-02-13T21:21:01Z'
            source_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            source_account_sequence: '94658837230911495'
            fee_account: GBVFTZL5HIPT4PFQVTZVIWR77V7LWYCXU4CLYWWHHOEXB64XPG5LDMTU
            fee_charged: '100'
            max_fee: '100'
            operation_count: 1
            envelope_xdr: AAAAAGpZ5X06Hz48sKzzVFo//X67YFenBLxaxzuJcPuXebqxAAAAZAFQS7YAAAAHAAAAAQAAAAAAAAAAAAAAAF5Fvg4AAAABAAAAC2hlbGxvIHdvcmxkAAAAAAEAAAAAAAAAAAAAAAD7exWPWaCVKiygoj7vEoUox3IdGR0BGEwgrfvu7xj49gAAAAAL68IAAAAAAAAAAAGXebqxAAAAQPNJSRhqEmEaKqtigW3PTPmm0SPF2befw+hH+j7hhDW9L7xDA6FDZlEvFESKAQxWBMQeV9r3D/7Y8tx5uW2WwQk=
            result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
            result_meta_xdr: AAAAAgAAAAIAAAADAa553QAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACM9wiRAFQS7YAAAAGAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAa553QAAAAAAAAAAalnlfTofPjywrPNUWj/9frtgV6cEvFrHO4lw+5d5urEAAAACM9wiRAFQS7YAAAAHAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAAwAAAAMBrnndAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAIz3CJEAVBLtgAAAAcAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBrnndAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAIn8GBEAVBLtgAAAAcAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAABrnndAAAAAAAAAAD7exWPWaCVKiygoj7vEoUox3IdGR0BGEwgrfvu7xj49gAAAAAL68IAAa553QAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA=
            fee_meta_xdr: AAAAAgAAAAMBrnOrAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAIz3CKoAVBLtgAAAAYAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBrnndAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAIz3CJEAVBLtgAAAAYAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
            memo_type: text
            signatures:
            - 80lJGGoSYRoqq2KBbc9M+abRI8XZt5/D6Ef6PuGENb0vvEMDoUNmUS8URIoBDFYExB5X2vcP/tjy3Hm5bZbBCQ==
            preconditions:
              timebounds:
                min_time: '0'
                max_time: '1581628942'
          - memo: Airdrop invite✅xlmget.org
            memo_bytes: QWlyZHJvcCBpbnZpdGXinIV4bG1nZXQub3Jn
            _links:
              self:
                href: https://horizon-testnet.stellar.org/transactions/849fc553ad0a55e75a27ad5a80047a45baa54c321043686cb7f55fa9ef3f7d59
              account:
                href: https://horizon-testnet.stellar.org/accounts/GBRW5XFS5PANVBWVOHXTR6D6KZN3CEKA2JIROR5NRYQMHT5K67B3SYU7
              ledger:
                href: https://horizon-testnet.stellar.org/ledgers/28440958
              operations:
                href: https://horizon-testnet.stellar.org/transactions/849fc553ad0a55e75a27ad5a80047a45baa54c321043686cb7f55fa9ef3f7d59/operations{?cursor,limit,order}
                templated: true
              effects:
                href: https://horizon-testnet.stellar.org/transactions/849fc553ad0a55e75a27ad5a80047a45baa54c321043686cb7f55fa9ef3f7d59/effects{?cursor,limit,order}
                templated: true
              precedes:
                href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=122152984477229056
              succeeds:
                href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=122152984477229056
              transaction:
                href: https://horizon-testnet.stellar.org/transactions/849fc553ad0a55e75a27ad5a80047a45baa54c321043686cb7f55fa9ef3f7d59
            id: 849fc553ad0a55e75a27ad5a80047a45baa54c321043686cb7f55fa9ef3f7d59
            paging_token: '122152984477229056'
            successful: true
            hash: 849fc553ad0a55e75a27ad5a80047a45baa54c321043686cb7f55fa9ef3f7d59
            ledger: 28440958
            created_at: '2020-02-28T16:28:42Z'
            source_account: GBRW5XFS5PANVBWVOHXTR6D6KZN3CEKA2JIROR5NRYQMHT5K67B3SYU7
            source_account_sequence: '122138905574114388'
            fee_account: GBRW5XFS5PANVBWVOHXTR6D6KZN3CEKA2JIROR5NRYQMHT5K67B3SYU7
            fee_charged: '100'
            max_fee: '100'
            operation_count: 1
            envelope_xdr: AAAAAGNu3LLrwNqG1XHvOPh+VluxEUDSURdHrY4gw8+q98O5AAAAZAGx7LAAAARUAAAAAAAAAAEAAAAbQWlyZHJvcCBpbnZpdGXinIV4bG1nZXQub3JnAAAAAAEAAAAAAAAAAQAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAAAAAAAAAGGoAAAAAAAAAABqvfDuQAAAECzK8e8L+dHqGZWsoOwNLgTnFD+Omu3DcVJ4Gwb71ZKsokaH+2hPLf65I6GgIX4pcyz1SgRNuhi0Utg4tGkfGUA
            result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAA=
            result_meta_xdr: AAAAAgAAAAIAAAADAbH5fgAAAAAAAAAAY27csuvA2obVce84+H5WW7ERQNJRF0etjiDDz6r3w7kAAAAAGGO7UAGx7LAAAARTAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAbH5fgAAAAAAAAAAY27csuvA2obVce84+H5WW7ERQNJRF0etjiDDz6r3w7kAAAAAGGO7UAGx7LAAAARUAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAABAAAAAMBrnndAAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAIn8GBEAVBLtgAAAAcAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBsfl+AAAAAAAAAABqWeV9Oh8+PLCs81RaP/1+u2BXpwS8Wsc7iXD7l3m6sQAAAAIn8ebkAVBLtgAAAAcAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAMBsfl+AAAAAAAAAABjbtyy68DahtVx7zj4flZbsRFA0lEXR62OIMPPqvfDuQAAAAAYY7tQAbHssAAABFQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBsfl+AAAAAAAAAABjbtyy68DahtVx7zj4flZbsRFA0lEXR62OIMPPqvfDuQAAAAAYYjSwAbHssAAABFQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAA=
            fee_meta_xdr: AAAAAgAAAAMBsfl8AAAAAAAAAABjbtyy68DahtVx7zj4flZbsRFA0lEXR62OIMPPqvfDuQAAAAAYY7u0AbHssAAABFMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEBsfl+AAAAAAAAAABjbtyy68DahtVx7zj4flZbsRFA0lEXR62OIMPPqvfDuQAAAAAYY7tQAbHssAAABFMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
            memo_type: text
            signatures:
            - syvHvC/nR6hmVrKDsDS4E5xQ/jprtw3FSeBsG+9WSrKJGh/toTy3+uSOhoCF+KXMs9UoETboYtFLYOLRpHxlAA==
    RetrieveAnAccount:
      value:
        _links:
          self:
            href: https://horizon-testnet.stellar.org/accounts/GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA
          transactions:
            href: https://horizon-testnet.stellar.org/accounts/GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA/transactions{?cursor,limit,order}
            templated: true
          operations:
            href: https://horizon-testnet.stellar.org/accounts/GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA/operations{?cursor,limit,order}
            templated: true
          payments:
            href: https://horizon-testnet.stellar.org/accounts/GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA/payments{?cursor,limit,order}
            templated: true
          effects:
            href: https://horizon-testnet.stellar.org/accounts/GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA/effects{?cursor,limit,order}
            templated: true
          offers:
            href: https://horizon-testnet.stellar.org/accounts/GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA/offers{?cursor,limit,order}
            templated: true
          trades:
            href: https://horizon-testnet.stellar.org/accounts/GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA/trades{?cursor,limit,order}
            templated: true
          data:
            href: https://horizon-testnet.stellar.org/accounts/GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA/data/{key}
            templated: true
        id: GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA
        account_id: GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA
        sequence: '120192344791187470'
        subentry_count: 5
        last_modified_ledger: 28105812
        num_sponsoring: 0
        num_sponsored: 0
[...]
