openapi: 3.1.0
info:
  version: 3.0.0
  title: Platform Server Accounts Claimable Balances API
  description: 'The platform server is an internal component. It should be hosted in a private network and should not be accessible from the Internet. This server enables the business to fetch and update the state of transactions using its API.

    '
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://platform-server.exampleanchor.com
tags:
- name: Claimable Balances
  description: A Claimable Balance represents the transfer of ownership of some amount of an asset. Claimable balances provide a mechanism for setting up a payment which can be claimed in the future. This allows you to make payments to accounts which are currently not able to accept them.
paths:
  /claimable_balances:
    get:
      tags:
      - Claimable Balances
      summary: List All Claimable Balances
      description: This endpoint lists all available claimable balances.
      operationId: ListAllClaimableBalances
      parameters:
      - $ref: '#/components/parameters/SponsorParam'
      - $ref: '#/components/parameters/AssetParam'
      - $ref: '#/components/parameters/ClaimantParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - $ref: '#/components/schemas/ClaimableBalances'
              examples:
                ListAllClaimableBalances:
                  $ref: '#/components/examples/ListAllClaimableBalances'
  /claimable_balances/{claimable_balance_id}:
    get:
      tags:
      - Claimable Balances
      summary: Retrieve a Claimable Balance
      description: The single claimable balance endpoint provides information on a claimable balance.
      operationId: RetrieveAClaimableBalance
      parameters:
      - $ref: '#/components/parameters/ClaimableBalanceIdParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimableBalance'
              examples:
                RetrieveAClaimableBalance:
                  $ref: '#/components/examples/RetrieveAClaimableBalance'
  /claimable_balances/{claimable_balance_id}/transactions:
    get:
      tags:
      - Claimable Balances
      summary: Retrieve Related Transactions
      description: This endpoint represents successful transactions referencing a given claimable balance and can be used in streaming mode. Streaming mode allows you to listen for new transactions referencing this claimable balance as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known transaction unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream transactions created since your request time.
      operationId: CBRetrieveRelatedTransactions
      parameters:
      - $ref: '#/components/parameters/ClaimableBalanceIdParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/IncludeFailedParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - $ref: '#/components/schemas/Transaction'
              examples:
                CBRetrieveRelatedTransactions:
                  $ref: '#/components/examples/CBRetrieveRelatedTransactions'
  /claimable_balances/{claimable_balance_id}/operations:
    get:
      tags:
      - Claimable Balances
      summary: Retrieve Related Operations
      description: This endpoint represents successful operations referencing a given claimable balance and can be used in streaming mode. Streaming mode allows you to listen for new operations referencing this claimable balance as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known operation unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream operations created since your request time.
      operationId: CBRetrieveRelatedOperations
      parameters:
      - $ref: '#/components/parameters/ClaimableBalanceIdParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/IncludeFailedParam'
      - $ref: '#/components/parameters/JoinParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - oneOf:
                  - $ref: '#/components/schemas/CreateAccount'
                  - $ref: '#/components/schemas/Payment'
                  - $ref: '#/components/schemas/PathPaymentStrictReceive'
                  - $ref: '#/components/schemas/PathPaymentStrictSend'
                  - $ref: '#/components/schemas/AccountMerge'
              examples:
                CBRetrieveRelatedOperations:
                  $ref: '#/components/examples/CBRetrieveRelatedOperations'
components:
  schemas:
    id:
      type: string
    PathPaymentStrictSend:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            transaction:
              $ref: '#/components/schemas/link'
            effects:
              $ref: '#/components/schemas/link'
            succeeds:
              $ref: '#/components/schemas/link'
            precedes:
              $ref: '#/components/schemas/link'
          required:
          - self
          - transaction
          - effects
          - succeeds
          - precedes
        id:
          $ref: '#/components/schemas/id'
        paging_token:
          type: string
        transaction_successful:
          type: boolean
        source_account:
          $ref: '#/components/schemas/address'
        type:
          type: string
          example: path_payment_strict_send
        type_i:
          type: number
          example: 13
        created_at:
          type: string
        transaction_hash:
          type: string
        asset_type:
          type: string
          enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
        asset_code:
          type: string
        asset_issuer:
          $ref: '#/components/schemas/address'
        from:
          $ref: '#/components/schemas/address'
        to:
          $ref: '#/components/schemas/address'
        amount:
          type: string
        path:
          type: array
          items:
            type: object
            properties:
              asset_type:
                type: string
                enum:
                - native
                - credit_alphanum4
                - credit_alphanum12
              asset_code:
                type: string
              asset_issuer:
                $ref: '#/components/schemas/address'
        source_amount:
          type: string
        source_max:
          type: string
        source_asset_type:
          type: string
        source_asset_code:
          type: string
        source_asset_issuer:
          $ref: '#/components/schemas/address'
      required:
      - id
      - paging_token
      - transaction_successful
      - source_account
      - type
      - type_i
      - created_at
      - transaction_hash
      - from
      - to
      - amount
      - path
      - source_amount
      - source_asset_type
    Links:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            next:
              $ref: '#/components/schemas/link'
            prev:
              $ref: '#/components/schemas/link'
    InnerTransaction:
      type: object
      properties:
        hash:
          $ref: '#/components/schemas/hash'
        signatures:
          $ref: '#/components/schemas/signatures'
        max_fee:
          type: string
    AccountMerge:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            transaction:
              $ref: '#/components/schemas/link'
            effects:
              $ref: '#/components/schemas/link'
            succeeds:
              $ref: '#/components/schemas/link'
            precedes:
              $ref: '#/components/schemas/link'
          required:
          - self
          - transaction
          - effects
          - succeeds
          - precedes
        id:
          $ref: '#/components/schemas/id'
        paging_token:
          type: string
        transaction_successful:
          type: boolean
        source_account:
          $ref: '#/components/schemas/address'
        type:
          type: string
          example: account_merge
        type_i:
          type: number
          example: 8
        created_at:
          type: string
        transaction_hash:
          type: string
        account:
          $ref: '#/components/schemas/address'
        into:
          $ref: '#/components/schemas/address'
      required:
      - id
      - paging_token
      - transaction_successful
      - source_account
      - type
      - type_i
      - created_at
      - transaction_hash
      - account
      - into
    ClaimableBalance:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            operations:
              $ref: '#/components/schemas/link'
            transactions:
              $ref: '#/components/schemas/link'
          required:
          - self
          - operations
          - transactions
        id:
          $ref: '#/components/schemas/id'
        asset:
          type: string
        amount:
          type: string
        sponsor:
          type: string
        last_modified_ledger:
          type: string
        last_modified_time:
          type: string
        claimants:
          type: array
          items:
            type: object
            properties:
              destination:
                $ref: '#/components/schemas/address'
              predicate:
                type: object
                properties:
                  and:
                    type: array
                    items:
                      type: object
                      properties:
                        or:
                          type: array
                          items:
                            type: object
                            properties:
                              relBefore:
                                type: string
                              absBefore:
                                type: string
                              absBeforeEpoch:
                                type: string
                        not:
                          type: object
                          properties:
                            unconditional:
                              type: boolean
                            relBefore:
                              type: string
                            absBefore:
                              type: string
                            absBeforeEpoch:
                              type: string
        flags:
          type: integer
        paging_token:
          type: string
      required:
      - id
      - paging_token
      - asset
      - amount
      - last_modified_ledger
      - last_modified_time
    Transaction:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            records:
              type: array
              items:
                type: object
                properties:
                  memo:
                    type: string
                  _links:
                    type: object
                    properties:
                      self:
                        $ref: '#/components/schemas/link'
                      account:
                        $ref: '#/components/schemas/link'
                      ledger:
                        $ref: '#/components/schemas/link'
                      operations:
                        $ref: '#/components/schemas/link'
                      effects:
                        $ref: '#/components/schemas/link'
                      precedes:
                        $ref: '#/components/schemas/link'
                      succeeds:
                        $ref: '#/components/schemas/link'
                      transaction:
                        $ref: '#/components/schemas/link'
                    required:
                    - self
                    - account
                    - ledger
                    - operations
                    - effects
                    - precedes
                    - succeeds
                    - transaction
                  id:
                    $ref: '#/components/schemas/id'
                  paging_token:
                    type: string
                  successful:
                    type: boolean
                  hash:
                    type: string
                  ledger:
                    type: integer
                    format: int32
                  created_at:
                    type: string
                  source_account:
                    $ref: '#/components/schemas/address'
                  account_muxed:
                    type: string
                  account_muxed_id:
                    type: string
                  source_account_sequence:
                    type: string
                  fee_account:
                    $ref: '#/components/schemas/address'
                  fee_account_muxed:
                    $ref: '#/components/schemas/address'
                  fee_account_muxed_id:
                    type: string
                  fee_charged:
                    type: string
                  max_fee:
                    type: string
                  operation_count:
                    type: integer
                    format: int32
                  envelope_xdr:
                    type: string
                  result_xdr:
                    type: string
                  result_meta_xdr:
                    type: string
                  fee_meta_xdr:
                    type: string
                  memo_type:
                    type: string
                  signatures:
                    $ref: '#/components/schemas/signatures'
                  preconditions:
                    $ref: '#/components/schemas/TransactionPreconditions'
                  fee_bump_transaction:
                    $ref: '#/components/schemas/FeeBumpTransaction'
                  inner_transaction:
                    $ref: '#/components/schemas/InnerTransaction'
                required:
                - id
                - paging_token
                - successful
                - hash
                - ledger
                - created_at
                - source_account
                - source_account_sequence
                - fee_account
                - fee_charged
                - max_fee
                - operation_count
                - envelope_xdr
                - result_xdr
                - result_meta_xdr
                - memo_type
                - signatures
    ClaimableBalances:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            records:
              type: array
              items:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      self:
                        $ref: '#/components/schemas/link'
                      operations:
                        $ref: '#/components/schemas/link'
                      transactions:
                        $ref: '#/components/schemas/link'
                    required:
                    - self
                    - operations
                    - transactions
                  id:
                    $ref: '#/components/schemas/id'
                  paging_token:
                    type: string
                  asset:
                    type: string
                  amount:
                    type: string
                  sponsor:
                    type: string
                  last_modified_ledger:
                    type: string
                  last_modified_time:
                    type: string
                  claimants:
                    type: array
                    items:
                      type: object
                      properties:
                        destination:
                          $ref: '#/components/schemas/address'
                        predicate:
                          type: object
                          properties:
                            and:
                              type: array
                              items:
                                type: object
                                properties:
                                  or:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        relBefore:
                                          type: string
                                        absBefore:
                                          type: string
                                        absBeforeEpoch:
                                          type: string
                                  not:
                                    type: object
                                    properties:
                                      unconditional:
                                        type: boolean
                                      relBefore:
                                        type: string
                                      absBefore:
                                        type: string
                                      absBeforeEpoch:
                                        type: string
                  flags:
                    type: integer
                required:
                - id
                - paging_token
                - asset
                - amount
                - last_modified_ledger
                - last_modified_time
    PathPaymentStrictReceive:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            transaction:
              $ref: '#/components/schemas/link'
            effects:
              $ref: '#/components/schemas/link'
            succeeds:
              $ref: '#/components/schemas/link'
            precedes:
              $ref: '#/components/schemas/link'
          required:
          - self
          - transaction
          - effects
          - succeeds
          - precedes
        id:
          $ref: '#/components/schemas/id'
        paging_token:
          type: string
        transaction_successful:
          type: boolean
        source_account:
          $ref: '#/components/schemas/address'
        type:
          type: string
          example: path_payment_strict_receive
        type_i:
          type: number
          example: 2
        created_at:
          type: string
        transaction_hash:
          type: string
        asset_type:
          type: string
          enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
        asset_code:
          type: string
        asset_issuer:
          $ref: '#/components/schemas/address'
        from:
          $ref: '#/components/schemas/address'
        to:
          $ref: '#/components/schemas/address'
        amount:
          type: string
        path:
          type: array
          items:
            type: object
            properties:
              asset_type:
                type: string
                enum:
                - native
                - credit_alphanum4
                - credit_alphanum12
              asset_code:
                type: string
              asset_issuer:
                $ref: '#/components/schemas/address'
        source_amount:
          type: string
        destination_min:
          type: string
        source_asset_type:
          type: string
        source_asset_code:
          type: string
        source_asset_issuer:
          $ref: '#/components/schemas/address'
      required:
      - id
      - paging_token
      - transaction_successful
      - source_account
      - type
      - type_i
      - created_at
      - transaction_hash
      - from
      - to
      - amount
      - path
      - source_amount
      - destination_min
    hash:
      type: string
    signatures:
      type: array
      items:
        type: string
        pattern: G[A-Z0-9]{55}
    FeeBumpTransaction:
      type: object
      properties:
        hash:
          $ref: '#/components/schemas/hash'
        signatures:
          $ref: '#/components/schemas/signatures'
    address:
      type: string
      pattern: G[A-Z0-9]{55}
    TransactionPreconditions:
      type: object
      properties:
        timebounds:
          $ref: '#/components/schemas/TransactionPreconditionsTimebounds'
        ledgerbounds:
          $ref: '#/components/schemas/TransactionPreconditionsLedgerbounds'
        min_account_sequence:
          type: string
        min_account_sequence_age:
          type: string
        min_account_sequence_ledger_gap:
          type: integer
          format: uint32
        extra_signers:
          type: array
          items:
            type: string
    TransactionPreconditionsLedgerbounds:
      type: object
      properties:
        min_ledger:
          type: string
        max_ledger:
          type: string
    TransactionPreconditionsTimebounds:
      type: object
      properties:
        min_time:
          type: string
        max_time:
          type: string
    link:
      type: object
      properties:
        href:
          type: string
          format: link
        templated:
          type: boolean
      required:
      - href
    Payment:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            records:
              type: array
              items:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      self:
                        $ref: '#/components/schemas/link'
                      transaction:
                        $ref: '#/components/schemas/link'
                      effects:
                        $ref: '#/components/schemas/link'
                      succeeds:
                        $ref: '#/components/schemas/link'
                      precedes:
                        $ref: '#/components/schemas/link'
                    required:
                    - self
                    - transaction
                    - effects
                    - succeeds
                    - precedes
                  id:
                    $ref: '#/components/schemas/id'
                  paging_token:
                    type: string
                  transaction_successful:
                    type: boolean
                  source_account:
                    $ref: '#/components/schemas/address'
                  type:
                    type: string
                    example: payment
                  type_i:
                    type: string
                  created_at:
                    type: string
                  transaction_hash:
                    type: string
                  asset_type:
                    type: string
                  asset_code:
                    enum:
                    - native
                    - credit_alphanum4
                    - credit_alphanum12
                  asset_issuer:
                    $ref: '#/components/schemas/address'
                  from:
                    $ref: '#/components/schemas/address'
                  to:
                    $ref: '#/components/schemas/address'
                  amount:
                    type: string
                required:
                - id
                - paging_token
                - transaction_successful
                - source_account
                - type
                - type_i
                - created_at
                - transaction_hash
                - asset_type
                - from
                - to
                - amount
    CreateAccount:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            transaction:
              $ref: '#/components/schemas/link'
            effects:
              $ref: '#/components/schemas/link'
            succeeds:
              $ref: '#/components/schemas/link'
            precedes:
              $ref: '#/components/schemas/link'
          required:
          - self
          - transaction
          - effects
          - succeeds
          - precedes
        id:
          $ref: '#/components/schemas/id'
        paging_token:
          type: string
        transaction_successful:
          type: boolean
        source_account:
          $ref: '#/components/schemas/address'
        type:
          type: string
          example: create_account
        type_i:
          type: number
          example: 0
        created_at:
          type: string
        transaction_hash:
          type: string
        starting_balance:
          type: string
        funder:
          $ref: '#/components/schemas/address'
        account:
          $ref: '#/components/schemas/address'
      required:
      - id
      - paging_token
      - transaction_successful
      - source_account
      - type
      - type_i
      - created_at
      - transaction_hash
      - starting_balance
      - funder
      - account
  parameters:
    ClaimableBalanceIdParam:
      name: claimable_balance_id
      in: path
      required: true
      description: A unique identifier for this claimable balance.
      schema:
        type: string
    ClaimantParam:
      name: claimant
      in: query
      required: false
      description: Account ID of the destination address. Only include claimable balances which can be claimed by the given account ID.
    OrderParam:
      name: order
      in: query
      required: false
      description: A designation of the order in which records should appear. Options include `asc` (ascending) or `desc` (descending). If this argument isn’t set, it defaults to `asc`.
      schema:
        type: string
        enum:
        - asc
        - desc
    JoinParam:
      name: join
      in: query
      required: false
      description: Set to transactions to include the transactions which created each of the operations in the response.
    CursorParam:
      name: cursor
      in: query
      required: false
      description: A number that points to a specific location in a collection of responses and is pulled from the paging_token value of a record.
      schema:
        type: integer
        example: 6606617478959105
    SponsorParam:
      name: sponser
      in: query
      required: false
      description: Account ID of the sponsor. Every account in the response will either be sponsored by the given account ID or have a subentry (trustline, offer, or data entry) which is sponsored by the given account ID.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    AssetParam:
      name: asset
      in: query
      required: false
      description: An issued asset represented as “Code:IssuerAccountID”. Every account in the response will have a trustline for the given asset.
    LimitParam:
      name: limit
      in: query
      required: false
      description: The maximum number of records returned. The limit can range from 1 to 200 - an upper limit that is hardcoded in Horizon for performance reasons. If this argument isn’t designated, it defaults to 10.
      schema:
        type: integer
        example: 10
    IncludeFailedParam:
      name: include_failed
      in: query
      required: false
      description: Set to true to include failed operations in results. Options include true and false.
      schema:
        type: boolean
        enum:
        - true
        - false
  examples:
    CBRetrieveRelatedTransactions:
      value:
        _links:
          self:
            href: https://horizon-testnet.stellar.org/claimable_balances/00000000178826fbfe339e1f5c53417c6fedfe2c05e8bec14303143ec46b38981b09c3f9/transactions?cursor=&limit=2&order=asc
          next:
            href: https://horizon-testnet.stellar.org/claimable_balances/00000000178826fbfe339e1f5c53417c6fedfe2c05e8bec14303143ec46b38981b09c3f9/transactions?cursor=140648659841806336&limit=2&order=asc
          prev:
            href: https://horizon-testnet.stellar.org/claimable_balances/00000000178826fbfe339e1f5c53417c6fedfe2c05e8bec14303143ec46b38981b09c3f9/transactions?cursor=140648659841806336&limit=2&order=desc
        _embedded:
          records:
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/transactions/fc5a98fc3869df408ebd4ac1c2e3fefec8b0a858e82ff1d14e362676708b91e8
              account:
                href: https://horizon-testnet.stellar.org/accounts/GDCJIHD3623OCYNH65UUQC3NLG2D6YCNCDPZULRLCLOA76TBQRL6A3TF
              ledger:
                href: https://horizon-testnet.stellar.org/ledgers/32747318
              operations:
                href: https://horizon-testnet.stellar.org/transactions/fc5a98fc3869df408ebd4ac1c2e3fefec8b0a858e82ff1d14e362676708b91e8/operations{?cursor,limit,order}
                templated: true
              effects:
                href: https://horizon-testnet.stellar.org/transactions/fc5a98fc3869df408ebd4ac1c2e3fefec8b0a858e82ff1d14e362676708b91e8/effects{?cursor,limit,order}
                templated: true
              precedes:
                href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=140648659841806336
              succeeds:
                href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=140648659841806336
              transaction:
                href: https://horizon-testnet.stellar.org/transactions/fc5a98fc3869df408ebd4ac1c2e3fefec8b0a858e82ff1d14e362676708b91e8
            id: fc5a98fc3869df408ebd4ac1c2e3fefec8b0a858e82ff1d14e362676708b91e8
            paging_token: '140648659841806336'
            successful: true
            hash: fc5a98fc3869df408ebd4ac1c2e3fefec8b0a858e82ff1d14e362676708b91e8
            ledger: 32747318
            created_at: '2020-11-23T16:02:38Z'
            source_account: GDCJIHD3623OCYNH65UUQC3NLG2D6YCNCDPZULRLCLOA76TBQRL6A3TF
            source_account_sequence: '140646847365513218'
            fee_account: GDCJIHD3623OCYNH65UUQC3NLG2D6YCNCDPZULRLCLOA76TBQRL6A3TF
            fee_charged: '100'
            max_fee: '100'
            operation_count: 1
            envelope_xdr: AAAAAgAAAADElBx79rbhYaf3aUgLbVm0P2BNEN+aLisS3A/6YYRX4AAAAGQB862QAAAAAgAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAADgAAAAJCT0RISQAAAAAAAAAAAAAAxJQce/a24WGn92lIC21ZtD9gTRDfmi4rEtwP+mGEV+AAAAAAAA9CQAAAAAEAAAAAAAAAAElBqA1BXzKd9k9nuPoodv0YBKY+Hgh6Uz/UxozgnvyzAAAAAAAAAAAAAAABYYRX4AAAAEDf41ykW+eq8IVpJNOc4iDaht5Beil8NpQB8WMHkOxW3rocUBF3EHKqUXDIsD9CzzY7Xr1PbzVk5FZ4iBKNF4MM
            result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAOAAAAAAAAAAAXiCb7/jOeH1xTQXxv7f4sBei+wUMDFD7EaziYGwnD+QAAAAA=
            result_meta_xdr: AAAAAgAAAAIAAAADAfOvNgAAAAAAAAAAxJQce/a24WGn92lIC21ZtD9gTRDfmi4rEtwP+mGEV+AAAAAAAcnCVAHzrZAAAAABAAAAAAAAAAAAAAAAAAAAD2dpdmluZ2JvZGhpLm9yZwABAAAAAAAAAAAAAAAAAAAAAAAAAQHzrzYAAAAAAAAAAMSUHHv2tuFhp/dpSAttWbQ/YE0Q35ouKxLcD/phhFfgAAAAAAHJwlQB862QAAAAAgAAAAAAAAAAAAAAAAAAAA9naXZpbmdib2RoaS5vcmcAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAAADAAAAAwHzrzYAAAAAAAAAAMSUHHv2tuFhp/dpSAttWbQ/YE0Q35ouKxLcD/phhFfgAAAAAAHJwlQB862QAAAAAgAAAAAAAAAAAAAAAAAAAA9naXZpbmdib2RoaS5vcmcAAQAAAAAAAAAAAAAAAAAAAAAAAAEB8682AAAAAAAAAADElBx79rbhYaf3aUgLbVm0P2BNEN+aLisS3A/6YYRX4AAAAAABycJUAfOtkAAAAAIAAAAAAAAAAAAAAAAAAAAPZ2l2aW5nYm9kaGkub3JnAAEAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAfOvNgAAAAQAAAAAF4gm+/4znh9cU0F8b+3+LAXovsFDAxQ+xGs4mBsJw/kAAAABAAAAAAAAAABJQagNQV8ynfZPZ7j6KHb9GASmPh4IelM/1MaM4J78swAAAAAAAAACQk9ESEkAAAAAAAAAAAAAAMSUHHv2tuFhp/dpSAttWbQ/YE0Q35ouKxLcD/phhFfgAAAAAAAPQkAAAAAAAAAAAQAAAAEAAAAAxJQce/a24WGn92lIC21ZtD9gTRDfmi4rEtwP+mGEV+AAAAAAAAAAAA==
            fee_meta_xdr: AAAAAgAAAAMB866UAAAAAAAAAADElBx79rbhYaf3aUgLbVm0P2BNEN+aLisS3A/6YYRX4AAAAAABycK4AfOtkAAAAAEAAAAAAAAAAAAAAAAAAAAPZ2l2aW5nYm9kaGkub3JnAAEAAAAAAAAAAAAAAAAAAAAAAAABAfOvNgAAAAAAAAAAxJQce/a24WGn92lIC21ZtD9gTRDfmi4rEtwP+mGEV+AAAAAAAcnCVAHzrZAAAAABAAAAAAAAAAAAAAAAAAAAD2dpdmluZ2JvZGhpLm9yZwABAAAAAAAAAAAAAAAAAAAA
            memo_type: none
            signatures:
            - 3+NcpFvnqvCFaSTTnOIg2obeQXopfDaUAfFjB5DsVt66HFARdxByqlFwyLA/Qs82O169T281ZORWeIgSjReDDA==
            preconditions:
              timebounds:
                min_time: '0'
    ListAllClaimableBalances:
      value:
        _links:
          self:
            href: https://horizon-testnet.stellar.org/claimable_balances?asset=native&cursor=&limit=10&order=asc
          next:
            href: https://horizon-testnet.stellar.org/claimable_balances?asset=native&cursor=35938300-0000000017b9a95e25aa60200b52cc04f75c496dca76dc19fec21c942dfb35cce23c3eba&limit=10&order=asc
          prev:
            href: https://horizon-testnet.stellar.org/claimable_balances?asset=native&cursor=33324106-00000000691787983bc3ea12361092fe49ae83cbbe37804ee1590fe2b9b3e3860fc8261f&limit=10&order=desc
        _embedded:
          records:
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000691787983bc3ea12361092fe49ae83cbbe37804ee1590fe2b9b3e3860fc8261f
              transactions:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000691787983bc3ea12361092fe49ae83cbbe37804ee1590fe2b9b3e3860fc8261f/transactions{?cursor,limit,order}
                templated: true
              operations:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000691787983bc3ea12361092fe49ae83cbbe37804ee1590fe2b9b3e3860fc8261f/operations{?cursor,limit,order}
                templated: true
            id: 00000000691787983bc3ea12361092fe49ae83cbbe37804ee1590fe2b9b3e3860fc8261f
            asset: native
            amount: '0.1000000'
            sponsor: GDOZMXWISPB57FITUQIGTFH2KNNW7QTFESXF5DZEAMZK6QHE3KVO5TRT
            last_modified_ledger: 33324106
            last_modified_time: '2020-12-30T23:02:56Z'
            claimants:
            - destination: GCD3T6UIQLYZPGRCYVSE7LKQB5HYYNVT7ENY6RCSFRFQYR5JTBDCECO3
              predicate:
                and:
                - abs_before: '2020-12-30T23:03:56Z'
                  abs_before_epoch: '1609369436'
                - not:
                    abs_before: '2020-12-30T23:05:56Z'
                    abs_before_epoch: '1609369556'
            flags:
              clawback_enabled: false
            paging_token: 33324106-00000000691787983bc3ea12361092fe49ae83cbbe37804ee1590fe2b9b3e3860fc8261f
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/claimable_balances/000000003a9a08342ca45d96abc011278644d83d1718ab16e44209fa1952829b66017c28
              transactions:
                href: https://horizon-testnet.stellar.org/claimable_balances/000000003a9a08342ca45d96abc011278644d83d1718ab16e44209fa1952829b66017c28/transactions{?cursor,limit,order}
                templated: true
              operations:
                href: https://horizon-testnet.stellar.org/claimable_balances/000000003a9a08342ca45d96abc011278644d83d1718ab16e44209fa1952829b66017c28/operations{?cursor,limit,order}
                templated: true
            id: 000000003a9a08342ca45d96abc011278644d83d1718ab16e44209fa1952829b66017c28
            asset: native
            amount: '1.0000000'
            sponsor: GA5ACYSBFH5AFWMZ5T34FLT5W3X6Z4FT4PMN3NUDT3G2JCYJXYGD72EF
            last_modified_ledger: 33505955
            last_modified_time: '2021-01-12T21:02:00Z'
            claimants:
            - destination: GCXAULI3NAFEUKIXUQTD3HXGCTTLM6KVGKTUBZIHVUDP6WXEF7RWJV67
              predicate:
                unconditional: true
            flags:
              clawback_enabled: false
            paging_token: 33505955-000000003a9a08342ca45d96abc011278644d83d1718ab16e44209fa1952829b66017c28
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/claimable_balances/0000000063036dcfa438cb51180bea16e36850e3699efc934577b07322c818157e4d5411
              transactions:
                href: https://horizon-testnet.stellar.org/claimable_balances/0000000063036dcfa438cb51180bea16e36850e3699efc934577b07322c818157e4d5411/transactions{?cursor,limit,order}
                templated: true
              operations:
                href: https://horizon-testnet.stellar.org/claimable_balances/0000000063036dcfa438cb51180bea16e36850e3699efc934577b07322c818157e4d5411/operations{?cursor,limit,order}
                templated: true
            id: 0000000063036dcfa438cb51180bea16e36850e3699efc934577b07322c818157e4d5411
            asset: native
            amount: '0.0010000'
            sponsor: GBIIQM26JJS774T7CSP3WBFVUXHUCTZCV5ZPGMKL57POWMFPMLYOKOZQ
            last_modified_ledger: 34254613
            last_modified_time: '2021-03-03T10:36:28Z'
            claimants:
            - destination: GBIIQM26JJS774T7CSP3WBFVUXHUCTZCV5ZPGMKL57POWMFPMLYOKOZQ
              predicate:
                unconditional: true
            flags:
              clawback_enabled: false
            paging_token: 34254613-0000000063036dcfa438cb51180bea16e36850e3699efc934577b07322c818157e4d5411
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000d076fe2df3e6cc5e5c28e7bf257c11eb209d703a681c58bb867b78b67235c694
              transactions:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000d076fe2df3e6cc5e5c28e7bf257c11eb209d703a681c58bb867b78b67235c694/transactions{?cursor,limit,order}
                templated: true
              operations:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000d076fe2df3e6cc5e5c28e7bf257c11eb209d703a681c58bb867b78b67235c694/operations{?cursor,limit,order}
                templated: true
            id: 00000000d076fe2df3e6cc5e5c28e7bf257c11eb209d703a681c58bb867b78b67235c694
            asset: native
            amount: '0.0010000'
            sponsor: GANVXZ2DQ2FFLVCBSVMBBNVWSXS6YVEDP247EN4C3CM3I32XR4U3OU2I
            last_modified_ledger: 34255259
            last_modified_time: '2021-03-03T11:35:31Z'
            claimants:
            - destination: GANVXZ2DQ2FFLVCBSVMBBNVWSXS6YVEDP247EN4C3CM3I32XR4U3OU2I
              predicate:
                unconditional: true
            flags:
              clawback_enabled: false
            paging_token: 34255259-00000000d076fe2df3e6cc5e5c28e7bf257c11eb209d703a681c58bb867b78b67235c694
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000da8ed8d0dccacce237c5395eb07bb845d2bb96425d18d168d535063316d99e7f
              transactions:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000da8ed8d0dccacce237c5395eb07bb845d2bb96425d18d168d535063316d99e7f/transactions{?cursor,limit,order}
                templated: true
              operations:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000da8ed8d0dccacce237c5395eb07bb845d2bb96425d18d168d535063316d99e7f/operations{?cursor,limit,order}
                templated: true
            id: 00000000da8ed8d0dccacce237c5395eb07bb845d2bb96425d18d168d535063316d99e7f
            asset: native
            amount: '1.0000000'
            sponsor: GB7OYQFQI7GH622CKCFWPH4WSZUGOXXNY2XWV5K27S3SW2JHOWCCWEJ4
            last_modified_ledger: 35023766
            last_modified_time: '2021-04-20T19:00:04Z'
            claimants:
            - destination: GAV2USD4ELGLRWBT67V7N37QAJKOPLHUJL3AVFW5NHWDHVXL4EQPSWZ5
              predicate:
                unconditional: true
            flags:
              clawback_enabled: false
            paging_token: 35023766-00000000da8ed8d0dccacce237c5395eb07bb845d2bb96425d18d168d535063316d99e7f
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000c551a949d0fb5199b05cb8220b4ba7dad4cd7968c849ab0fb51f744daab864fe
              transactions:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000c551a949d0fb5199b05cb8220b4ba7dad4cd7968c849ab0fb51f744daab864fe/transactions{?cursor,limit,order}
                templated: true
              operations:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000c551a949d0fb5199b05cb8220b4ba7dad4cd7968c849ab0fb51f744daab864fe/operations{?cursor,limit,order}
                templated: true
            id: 00000000c551a949d0fb5199b05cb8220b4ba7dad4cd7968c849ab0fb51f744daab864fe
            asset: native
            amount: '0.2091529'
            sponsor: GA5WWLUYCR4XJKS4ZYKWATKC7E3AVM3FZLWXWSKOBZWAGDROF5MUQXAT
            last_modified_ledger: 35530330
            last_modified_time: '2021-05-22T17:04:31Z'
            claimants:
            - destination: GCSZDAUKEX3IZXXUEEMERIYTVKHDTVTWK7LHXHELZE5B472QMGGXQLHD
              predicate:
                unconditional: true
            - destination: GA5WWLUYCR4XJKS4ZYKWATKC7E3AVM3FZLWXWSKOBZWAGDROF5MUQXAT
              predicate:
                unconditional: true
            flags:
              clawback_enabled: false
            paging_token: 35530330-00000000c551a949d0fb5199b05cb8220b4ba7dad4cd7968c849ab0fb51f744daab864fe
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000d1f2ad9c1ff9124de62f9721ed5811f1f0d7705660c5a7daaa174ad5100c6b4d
              transactions:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000d1f2ad9c1ff9124de62f9721ed5811f1f0d7705660c5a7daaa174ad5100c6b4d/transactions{?cursor,limit,order}
                templated: true
              operations:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000d1f2ad9c1ff9124de62f9721ed5811f1f0d7705660c5a7daaa174ad5100c6b4d/operations{?cursor,limit,order}
                templated: true
            id: 00000000d1f2ad9c1ff9124de62f9721ed5811f1f0d7705660c5a7daaa174ad5100c6b4d
            asset: native
            amount: '0.2091529'
            sponsor: GA5WWLUYCR4XJKS4ZYKWATKC7E3AVM3FZLWXWSKOBZWAGDROF5MUQXAT
            last_modified_ledger: 35530330
            last_modified_time: '2021-05-22T17:04:31Z'
            claimants:
            - destination: GBO4FL74OZTOCTABWFS2PH4LGI2CHFABDZ2LBPRH6UECXBAIU5LUIOF2
              predicate:
                unconditional: true
            - destination: GA5WWLUYCR4XJKS4ZYKWATKC7E3AVM3FZLWXWSKOBZWAGDROF5MUQXAT
              predicate:
                unconditional: true
            flags:
              clawback_enabled: false
            paging_token: 35530330-00000000d1f2ad9c1ff9124de62f9721ed5811f1f0d7705660c5a7daaa174ad5100c6b4d
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/claimable_balances/000000001b53636a29ca25d28d1c5bb165f55280167d53cfefb0ce297d98032b32f772d0
              transactions:
                href: https://horizon-testnet.stellar.org/claimable_balances/000000001b53636a29ca25d28d1c5bb165f55280167d53cfefb0ce297d98032b32f772d0/transactions{?cursor,limit,order}
                templated: true
              operations:
                href: https://horizon-testnet.stellar.org/claimable_balances/000000001b53636a29ca25d28d1c5bb165f55280167d53cfefb0ce297d98032b32f772d0/operations{?cursor,limit,order}
                templated: true
            id: 000000001b53636a29ca25d28d1c5bb165f55280167d53cfefb0ce297d98032b32f772d0
            asset: native
            amount: '4.2696061'
            sponsor: GA5WWLUYCR4XJKS4ZYKWATKC7E3AVM3FZLWXWSKOBZWAGDROF5MUQXAT
            last_modified_ledger: 35686528
            last_modified_time: '2021-06-01T13:29:59Z'
            claimants:
            - destination: GD54EZPKQCBZKPI6F4KKYYLGLDWBOVKPXBL3BLFGYNCLTBFGFZZGVMRT
              predicate:
                unconditional: true
            - destination: GA5WWLUYCR4XJKS4ZYKWATKC7E3AVM3FZLWXWSKOBZWAGDROF5MUQXAT
              predicate:
                unconditional: true
            flags:
              clawback_enabled: false
            paging_token: 35686528-000000001b53636a29ca25d28d1c5bb165f55280167d53cfefb0ce297d98032b32f772d0
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000ff1bb4a01b1d4e62ba23bcfd4e2c2289c63fe5ae0368f85b79d74a2224f8ab6c
              transactions:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000ff1bb4a01b1d4e62ba23bcfd4e2c2289c63fe5ae0368f85b79d74a2224f8ab6c/transactions{?cursor,limit,order}
                templated: true
              operations:
                href: https://horizon-testnet.stellar.org/claimable_balances/00000000ff1bb4a01b1d4e62ba23bcfd4e2c2289c63fe5ae0368f85b79d74a2224f8ab6c/operations{?cursor,limit,order}
                templated: true
            id: 00000000ff1bb4a01b1d4e62ba23bcfd4e2c2289c63fe5ae0368f85b79d74a2224f8ab6c
            asset: native
            amount: '29.8872425'
            sponsor: GA5WWLUYCR4XJKS4ZYKWATKC7E3AVM3FZLWXWSKOBZWAGDROF5MUQXAT
            last_modified_ledger: 35686528
            last_modified_time: '2021-06-01T13:29:59Z'
            claimants:
            - destination: GB2QQWOA32GRILAOZ57H5Z5MO52KNUO3WHJWVZZHWSN66LLDPXQMSILD
              predicate:
                unconditional: true
            - destination: GA5WWLUYCR4XJKS4ZYKWATKC7E3AVM3FZLWXWSKOBZWAGDROF5MUQXAT
              predicate:
                unconditional: true
            flags:
              clawback_enabled: false
            paging_token: 35686528-00000000ff1bb4a01b1d4e62ba23bcfd4e2c2289c63fe5ae0368f85b79d74a2224f8ab6c
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/claimable_balances/0000000017b9a95e25aa60200b52cc04f75c496dca76dc19fec21c942dfb35cce23c3eba
              transactions:
                href: https://horizon-testnet.stellar.org/claimable_balances/0000000017b9a95e25aa60200b52cc04f75c496dca76dc19fec21c942dfb35cce23c3eba/transactions{?cursor,limit,order}
                templated: true
              operations:
                href: https://horizon-testnet.stellar.org/claimable_balances/0000000017b9a95e25aa60200b52cc04f75c496dca76dc19fec21c942dfb35cce23c3eba/operations{?cursor,limit,order}
                templated: true
            id: 0000000017b9a95e25aa60200b52cc04f75c496dca76dc19fec21c942dfb35cce23c3eba
            asset: native
            amount: '0.0000400'
            sponsor: GB6DNEWWSSPQAX7SR5MCWUTRVQPJBAERJTUQAZOVXXJDU2E6PIMKGMO2
            last_modified_ledger: 35938300
            last_modified_time: '2021-06-17T10:37:03Z'
            claimants:
            - destination: GC2CMMOQ2BUFI33PPOLNJKMQYJGAXUP2KMZXEXE6TGE37JSXQPHI4UAE
              predicate:
                and:
                - abs_before: '2021-07-16T21:00:00Z'
                  abs_before_epoch: '1626469200'
                - abs_before: '2021-08-16T21:00:00Z'
                  abs_before_epoch: '1629147600'
            flags:
              clawback_enabled: false
            paging_token: 35938300-0000000017b9a95e25aa60200b52cc04f75c496dca76dc19fec21c942dfb35cce23c3eba
    RetrieveAClaimableBalance:
      value:
        _links:
          self:
            href: https://horizon-testnet.stellar.org/claimable_balances/000000000102030000000000000000000000000000000000000000000000000000000000
          operations:
            href: https://horizon-testnet.stellar.org/claimable_balances/000000000102030000000000000000000000000000000000000000000000000000000000/operations{?cursor,limit,order}
            templated: true
          transactions:
            href: https://horizon-testnet.stellar.org/claimable_balances/000000000102030000000000000000000000000000000000000000000000000000000000/transactions{?cursor,limit,order}
            templated: true
        id: '000000000102030000000000000000000000000000000000000000000000000000000000'
        paging_token: '000000000102030000000000000000000000000000000000000000000000000000000000'
        asset: native
        amount: '10.0000000'
        claimants:
        - destination: GC3C4AKRBQLHOJ45U4XG35ESVWRDECWO5XLDGYADO6DPR3L7KIDVUMML
          predicate:
            and:
            - or:
              - relBefore: '12'
              - absBefore: '2020-08-26T11:15:39Z'
                absBeforeEpoch: '1598440539'
            - not:
                unconditional: true
        last_modified_ledger: 28411995
        last_modified_time: '2020-02-26T19:29:16Z'
    CBRetrieveRelatedOperations:
      value:
        _links:
          self:
            href: https://horizon-testnet.stellar.org/claimable_balances/00000000178826fbfe339e1f5c53417c6fedfe2c05e8bec14303143ec46b38981b09c3f9/operations?cursor=&limit=3&order=asc
          next:
            href: https://horizon-testnet.stellar.org/claimable_balances/00000000178826fbfe339e1f5c53417c6fedfe2c05e8bec14303143ec46b38981b09c3f9/operations?cursor=140648659841806337&limit=3&order=asc
          prev:
            href: https://horizon-testnet.stellar.org/claimable_balances/00000000178826fbfe339e1f5c53417c6fedfe2c05e8bec14303143ec46b38981b09c3f9/operations?cursor=140648659841806337&limit=3&order=desc
        _embedded:
          records:
          - _links:
              self:
                href: https://horizon-testnet.stellar.org/operations/140648659841806337
              transaction:
                href: https://horizon-testnet.stellar.org/transactions/fc5a98fc3869df408ebd4ac1c2e3fefec8b0a858e82ff1d14e362676708b91e8
              effects:
                href: https://horizon-testnet.stellar.org/operations/140648659841806337/effects
              succeeds:
                href: https://horizon-testnet.stellar.org/effects?order=desc&cursor=140648659841806337
              precedes:
                href: https://horizon-testnet.stellar.org/effects?order=asc&cursor=140648659841806337
            id: '140648659841806337'
            paging_token: '140648659841806337'
            transaction_successful: true
            source_account: GDCJIHD3623OCYNH65UUQC3NLG2D6YCNCDPZULRLCLOA76TBQRL6A3TF
            type: create_claimable_balance
            type_i: 14
            created_at: '2020-11-23T16:02:38Z'
            transaction_hash: fc5a98fc3869df408ebd4ac1c2e3fefec8b0a858e82ff1d14e362676708b91e8
            sponsor: GDCJIHD3623OCYNH65UUQC3NLG2D6YCNCDPZULRLCLOA76TBQRL6A3TF
            asset: BODHI:GDCJIHD3623OCYNH65UUQC3NLG2D6YCNCDPZULRLCLOA76TBQRL6A3TF
            amount: '0.1000000'
            claimants:
            - destination: GBEUDKANIFPTFHPWJ5T3R6RIO36RQBFGHYPAQ6STH7KMNDHAT36LHOLD
              predicate:
                unconditional: true
