openapi: 3.1.0
info:
  version: 3.0.0
  title: Platform Server Accounts Paths API
  description: 'The platform server is an internal component. It should be hosted in a private network and should not be accessible from the Internet. This server enables the business to fetch and update the state of transactions using its API.

    '
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://platform-server.exampleanchor.com
tags:
- name: Paths
  description: Paths provide information about potential path payments. A path can be used to populate the necessary fields for a path payment operation.
paths:
  /paths/strict-receive:
    get:
      tags:
      - Paths
      summary: List Strict Receive Payment Paths
      description: 'The strict receive payment path endpoint lists the paths a payment can take based on the amount of an asset you want the recipient to receive. The destination asset amount stays constant, and the type and amount of an asset sent varies based on offers in the order books.


        For this search, Horizon loads a list of assets available to the sender (based on `source_account` or `source_assets`) and displays the possible paths from the different source assets to the destination asset. Only paths that satisfy the `destination_amount` are returned.

        '
      operationId: ListStrictReceivePaymentPaths
      parameters:
      - $ref: '#/components/parameters/SourceAccountParam'
      - $ref: '#/components/parameters/SourceAssetsParam'
      - $ref: '#/components/parameters/DestinationAssetTypeParam'
      - $ref: '#/components/parameters/DestinationAssetIssuerParam'
      - $ref: '#/components/parameters/DestinationAssetCodeParam'
      - $ref: '#/components/parameters/DestinationAmountParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Path'
              examples:
                ListStrictRecievePaymentPaths:
                  $ref: '#/components/examples/ListStrictReceivePaymentPaths'
      x-codeSamples:
      - lang: Shell
        source: 'curl https://horizon-testnet.stellar.org/paths/strict-receive?\

          source_assets=CNY:GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX&\

          destination_asset_type=credit_alphanum4&\

          destination_asset_code=BB1&\

          destination_asset_issuer=GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN&\

          destination_amount=5

          '
      - lang: JavaScript
        label: '@stellar/stellar-sdk'
        source: "var StellarSdk = require(\"stellar-sdk\");\nvar server = new StellarSdk.Horizon.Server(\n  \"https://horizon-testnet.stellar.org\",\n);\n\nserver\n  .strictReceivePaths(\n    [\n      new StellarSdk.Asset(\n        \"CNY\",\n        \"GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX\",\n      ),\n    ],\n    new StellarSdk.Asset(\n      \"BB1\",\n      \"GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN\",\n    ),\n    \"5\",\n  )\n  .call()\n  .then(function (resp) {\n    console.log(resp);\n  })\n  .catch(function (err) {\n    console.error(err);\n  });\n"
      - lang: Python
        label: stellar_sdk
        source: "from stellar_sdk import Server, Asset\nserver = Server(\"https://horizon-testnet.stellar.org\")\n\nresponse = server.strict_receive_paths(\n    source=[\n        Asset(\"CNY\", \"GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX\")\n    ],\n    destination_asset=Asset(\n        \"BB1\",\n        \"GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN\"\n    ),\n    destination_amount=\"5\"\n).call()\n\nprint(response)\n"
  /paths/strict-send:
    get:
      tags:
      - Paths
      summary: List Strict Send Payment Paths
      description: 'The strict send payment path endpoint lists the paths a payment can take based on the amount of an asset you want to send. The source asset amount stays constant, and the type and amount of an asset received varies based on offers in the order books.


        For this search, Horizon loads a list of assets that the recipient can receive (based on `destination_account` or `destination_assets`) and displays the possible paths from the different source assets to the destination asset. Only paths that satisfy the `source_amount` are returned.

        '
      operationId: ListStrictSendPaymentPaths
      parameters:
      - $ref: '#/components/parameters/SourceAssetTypeParam'
      - $ref: '#/components/parameters/SourceAssetIssuerParam'
      - $ref: '#/components/parameters/SourceAssetCodeParam'
      - $ref: '#/components/parameters/SourceAmountParam'
      - $ref: '#/components/parameters/DestinationAccountParam'
      - $ref: '#/components/parameters/DestinationAssetsParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Path'
              examples:
                ListStrictSendPaymentPaths:
                  $ref: '#/components/examples/ListStrictSendPaymentPaths'
      x-codeSamples:
      - lang: Shell
        source: 'curl https://horizon-testnet.stellar.org/paths/strict-send?\

          source_asset_type=credit_alphanum4&\

          source_asset_code=BRL&\

          source_asset_issuer=GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP&\

          source_amount=400&\

          destination_account=GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA

          '
      - lang: JavaScript
        label: '@stellar/stellar-sdk'
        source: "var StellarSdk = require(\"@stellar/stellar-sdk\");\nvar server = new StellarSdk.Horizon.Server(\n  \"https://horizon-testnet.stellar.org\",\n);\n\nserver\n  .strictSendPaths(\n    new StellarSdk.Asset(\n      \"BRL\",\n      \"GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP\",\n    ),\n    \"400\",\n    \"GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA\",\n  )\n  .call()\n  .then(function (resp) {\n    console.log(resp);\n  })\n  .catch(function (err) {\n    console.error(err);\n  });\n"
      - lang: Python
        label: stellar_sdk
        source: "from stellar_sdk import Server, Asset\nserver = Server(\"https://horizon-testnet.stellar.org\")\n\nresponse = server.strict_send_paths(\n    source_asset=Asset(\n        \"BRL\",\n        \"GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP\"\n    ),\n    source_amount=\"400\",\n    destination=\"GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA\"\n).call()\n\nprint(response)\n"
components:
  parameters:
    DestinationAssetsParam:
      name: destination_assets
      in: query
      required: false
      description: 'A comma-separated list of assets that the recipient can receive. Any returned path must end with an asset in this list. Each asset is formatted as `CODE:ISSUER_ACCOUNT`. For example: `USD:GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX`. Using either `source_account` or `source_assets` as an argument is required for strict send path payments.'
      schema:
        type: string
        example: CNY:GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
    SourceAmountParam:
      name: source_amount
      in: query
      required: true
      description: The amount of the source asset that should be sent.
      schema:
        type: string
        example: '5'
    DestinationAssetTypeParam:
      name: destination_asset_type
      in: query
      required: true
      description: The type for the destination asset. Either `native`, `credit_alphanum4`, or `credit_alphanum12`.
      schema:
        type: string
        enum:
        - native
        - credit_alphanum4
        - credit_alphanum12
    DestinationAmountParam:
      name: destination_amount
      in: query
      required: true
      description: The amount of the destination asset that should be received.
      schema:
        type: string
        example: '5'
    DestinationAssetIssuerParam:
      name: destination_asset_issuer
      in: query
      required: false
      description: The Stellar address of the issuer of the destination asset. Required if the `destination_asset_type` is not `native`.
      schema:
        type: string
        example: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
    SourceAssetCodeParam:
      name: source_asset_code
      in: query
      required: false
      description: The code for the source asset. Required if the `source_asset_type` is not `native`.
      schema:
        type: string
        example: USD
    SourceAssetTypeParam:
      name: source_asset_type
      in: query
      required: true
      description: The type for the source asset. Either `native`, `credit_alphanum4`, or `credit_alphanum12`.
      schema:
        type: string
        enum:
        - native
        - credit_alphanum4
        - credit_alphanum12
    SourceAssetsParam:
      name: source_assets
      in: query
      required: false
      description: 'A comma-separated list of assets available to the sender. Any returned path must start with an asset in this list. Each asset is formatted as `CODE:ISSUER_ACCOUNT`. For example: `USD:GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX`. Using either `source_account` or `source_assets` as an argument is required for strict receive path payments.'
      schema:
        type: string
        example: CNY:GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
    SourceAssetIssuerParam:
      name: source_asset_issuer
      in: query
      required: false
      description: The Stellar address of the issuer of the source asset. Required if the `source_asset_type` is not `native`.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    SourceAccountParam:
      name: source_account
      in: query
      required: false
      description: The Stellar address of the sender. Any returned path must start with an asset that the sender holds. Using either `source_account` or `source_assets` as an argument is required for strict receive path payments.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    DestinationAccountParam:
      name: destination_account
      in: query
      required: false
      description: The Stellar address of the receiver. Any returned path must end with an asset that the recipient can receive. Using either `source_account` or `source_assets` as an argument is required for strict send path payments.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    DestinationAssetCodeParam:
      name: destination_asset_code
      in: query
      required: false
      description: The code for the destination asset. Required if the `destination_asset_type` is not `native`.
      schema:
        type: string
        example: USD
  examples:
    ListStrictReceivePaymentPaths:
      value:
        _embedded:
          records:
          - source_asset_type: credit_alphanum4
            source_asset_code: CNY
            source_asset_issuer: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
            source_amount: '28.9871131'
            destination_asset_type: credit_alphanum4
            destination_asset_code: BB1
            destination_asset_issuer: GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN
            destination_amount: '5.0000000'
            path:
            - asset_type: credit_alphanum4
              asset_code: XCN
              asset_issuer: GCNY5OXYSY4FKHOPT2SPOQZAOEIGXB5LBYW3HVU3OWSTQITS65M5RCNY
            - asset_type: native
          - source_asset_type: credit_alphanum4
            source_asset_code: CNY
            source_asset_issuer: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
            source_amount: '29.0722784'
            destination_asset_type: credit_alphanum4
            destination_asset_code: BB1
            destination_asset_issuer: GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN
            destination_amount: '5.0000000'
            path:
            - asset_type: credit_alphanum4
              asset_code: ULT
              asset_issuer: GC76RMFNNXBFDSJRBXCABWLHXDK4ITVQSMI56DC2ZJVC3YOLLPCKKULT
            - asset_type: native
          - source_asset_type: credit_alphanum4
            source_asset_code: CNY
            source_asset_issuer: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
            source_amount: '29.4000002'
            destination_asset_type: credit_alphanum4
            destination_asset_code: BB1
            destination_asset_issuer: GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN
            destination_amount: '5.0000000'
            path:
            - asset_type: native
          - source_asset_type: credit_alphanum4
            source_asset_code: CNY
            source_asset_issuer: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
            source_amount: '31.8955888'
            destination_asset_type: credit_alphanum4
            destination_asset_code: BB1
            destination_asset_issuer: GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN
            destination_amount: '5.0000000'
            path:
            - asset_type: credit_alphanum4
              asset_code: USD
              asset_issuer: GBUYUAI75XXWDZEKLY66CFYKQPET5JR4EENXZBUZ3YXZ7DS56Z4OKOFU
            - asset_type: native
          - source_asset_type: credit_alphanum4
            source_asset_code: CNY
            source_asset_issuer: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
            source_amount: '34.7086084'
            destination_asset_type: credit_alphanum4
            destination_asset_code: BB1
            destination_asset_issuer: GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN
            destination_amount: '5.0000000'
            path:
            - asset_type: credit_alphanum4
              asset_code: USD
              asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
            - asset_type: native
    ListStrictSendPaymentPaths:
      value:
        _embedded:
          records:
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: BB1
            destination_asset_issuer: GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN
            destination_amount: '87.6373649'
            path:
            - asset_type: native
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: BB1
            destination_asset_issuer: GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN
            destination_amount: '36.0841597'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: EURT
              asset_issuer: GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: BB1
            destination_asset_issuer: GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN
            destination_amount: '16.2264000'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: BTC
              asset_issuer: GBVOL67TMUQBGL4TZYNMY3ZQ5WGQYFPFD5VJRWXR72VA33VFNL225PL5
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: BB1
            destination_asset_issuer: GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN
            destination_amount: '13.9424750'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: USD
              asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: CNY
            destination_asset_issuer: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
            destination_amount: '499.8384123'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: ULT
              asset_issuer: GC76RMFNNXBFDSJRBXCABWLHXDK4ITVQSMI56DC2ZJVC3YOLLPCKKULT
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: CNY
            destination_asset_issuer: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
            destination_amount: '498.1069097'
            path:
            - asset_type: native
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: CNY
            destination_asset_issuer: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
            destination_amount: '494.5886542'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: XCN
              asset_issuer: GCNY5OXYSY4FKHOPT2SPOQZAOEIGXB5LBYW3HVU3OWSTQITS65M5RCNY
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: CNY
            destination_asset_issuer: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
            destination_amount: '490.0780598'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: USD
              asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: CNY
            destination_asset_issuer: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
            destination_amount: '280.2909824'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: USD
              asset_issuer: GBUYUAI75XXWDZEKLY66CFYKQPET5JR4EENXZBUZ3YXZ7DS56Z4OKOFU
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: EURT
            destination_asset_issuer: GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S
            destination_amount: '63.1883029'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: USD
              asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: EURT
            destination_asset_issuer: GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S
            destination_amount: '63.1472796'
            path:
            - asset_type: native
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: EURT
            destination_asset_issuer: GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S
            destination_amount: '62.9386895'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: NGNT
              asset_issuer: GAWODAROMJ33V5YDFY3NPYTHVYQG7MJXVJ2ND3AOGIHYRWINES6ACCPD
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: EURT
            destination_asset_issuer: GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S
            destination_amount: '6.7649849'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: WSD
              asset_issuer: GDSVWEA7XV6M5XNLODVTPCGMAJTNBLZBXOFNQD3BNPNYALEYBNT6CE2V
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: EURT
            destination_asset_issuer: GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S
            destination_amount: '0.0498106'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: CNY
              asset_issuer: GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: NGNT
            destination_asset_issuer: GAWODAROMJ33V5YDFY3NPYTHVYQG7MJXVJ2ND3AOGIHYRWINES6ACCPD
            destination_amount: '25155.3452034'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: USD
              asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: NGNT
            destination_asset_issuer: GAWODAROMJ33V5YDFY3NPYTHVYQG7MJXVJ2ND3AOGIHYRWINES6ACCPD
            destination_amount: '25146.7108397'
            path:
            - asset_type: native
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: NGNT
            destination_asset_issuer: GAWODAROMJ33V5YDFY3NPYTHVYQG7MJXVJ2ND3AOGIHYRWINES6ACCPD
            destination_amount: '24986.8616583'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: BTC
              asset_issuer: GAUTUYY2THLF7SGITDFMXJVYH3LHDSMGEAKSBU267M2K7A3W543CKUEF
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: NGNT
            destination_asset_issuer: GAWODAROMJ33V5YDFY3NPYTHVYQG7MJXVJ2ND3AOGIHYRWINES6ACCPD
            destination_amount: '24948.9784843'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: XCN
              asset_issuer: GCNY5OXYSY4FKHOPT2SPOQZAOEIGXB5LBYW3HVU3OWSTQITS65M5RCNY
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: NGNT
            destination_asset_issuer: GAWODAROMJ33V5YDFY3NPYTHVYQG7MJXVJ2ND3AOGIHYRWINES6ACCPD
            destination_amount: '24930.7854717'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: EURT
              asset_issuer: GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: USD
            destination_asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
            destination_amount: '69.7123752'
            path:
            - asset_type: native
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: USD
            destination_asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
            destination_amount: '68.9785993'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: EURT
              asset_issuer: GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: USD
            destination_asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
            destination_amount: '68.6731854'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: NGNT
              asset_issuer: GAWODAROMJ33V5YDFY3NPYTHVYQG7MJXVJ2ND3AOGIHYRWINES6ACCPD
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: USD
            destination_asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
            destination_amount: '63.5394120'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: USD
              asset_issuer: GBUYUAI75XXWDZEKLY66CFYKQPET5JR4EENXZBUZ3YXZ7DS56Z4OKOFU
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: credit_alphanum4
            destination_asset_code: USD
            destination_asset_issuer: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
            destination_amount: '39.6691360'
            path:
            - asset_type: native
            - asset_type: credit_alphanum4
              asset_code: HEX
              asset_issuer: GCGBSZ3DSSH6PRHCOD4JXFNNZXCTKBDFRT4JR2HIAC6FQZU4YK7GPHEX
          - source_asset_type: credit_alphanum4
            source_asset_code: BRL
            source_asset_issuer: GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP
            source_amount: '400.0000000'
            destination_asset_type: native
            destination_amount: '1226.9231099'
            path: []
  schemas:
    address:
      type: string
      pattern: G[A-Z0-9]{55}
    schemas-Asset:
      type: object
      properties:
        asset_type:
          type: string
        asset_code:
          type: string
        asset_issuer:
          $ref: '#/components/schemas/address'
      required:
      - asset_type
    Path:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            records:
              type: array
              items:
                type: object
                properties:
                  source_asset_type:
                    type: string
                  source_asset_code:
                    type: string
                  source_asset_issuer:
                    $ref: '#/components/schemas/address'
                  source_amount:
                    type: string
                  destination_asset_type:
                    type: string
                  destination_asset_code:
                    type: string
                  destination_asset_issuer:
                    $ref: '#/components/schemas/address'
                  destination_amount:
                    type: string
                  path:
                    type: array
                    items:
                      $ref: '#/components/schemas/schemas-Asset'
              required:
              - source_asset_type
              - source_amount
              - destination_asset_type
              - destination_amount
              - path
