openapi: 3.1.0
info:
  version: 3.0.0
  title: Platform Server Accounts Assets API
  description: 'The platform server is an internal component. It should be hosted in a private network and should not be accessible from the Internet. This server enables the business to fetch and update the state of transactions using its API.

    '
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://platform-server.exampleanchor.com
tags:
- name: Assets
  description: Assets are representations of value issued on the Stellar network. An asset consists of a type, code, and issuer.
paths:
  /assets:
    get:
      tags:
      - Assets
      summary: List all Assets
      description: This endpoint lists all assets.
      operationId: ListAllAssets
      parameters:
      - $ref: '#/components/parameters/AssetCodeParam'
      - $ref: '#/components/parameters/AssetIssuerParam'
      - $ref: '#/components/parameters/CursorParam'
      - $ref: '#/components/parameters/OrderParam'
      - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Links'
                - $ref: '#/components/schemas/Asset'
              examples:
                ListAllAssets:
                  $ref: '#/components/examples/ListAllAssets'
components:
  examples:
    ListAllAssets:
      value:
        _links:
          self:
            href: https://horizon-testnet.stellar.org/assets?asset_code=CNY&cursor=&limit=3&order=asc
          next:
            href: https://horizon-testnet.stellar.org/assets?asset_code=CNY&cursor=CNY_GABGBJYLIC2OGATH3DVW22UEB66TFMWC3VKTAPFIOINVESRZLFKIHA4I_credit_alphanum4&limit=3&order=asc
          prev:
            href: https://horizon-testnet.stellar.org/assets?asset_code=CNY&cursor=CNY_GA6VXTS64XUOCQZSBAYHD24ZYJYPNB3KJ2CVKSYIE43P2DQQIX74UT2A_credit_alphanum4&limit=3&order=desc
        _embedded:
          records:
          - _links:
              toml:
                href: https://swisscustodys.org/.well-known/stellar.toml
            asset_type: credit_alphanum4
            asset_code: CNY
            asset_issuer: GA6VXTS64XUOCQZSBAYHD24ZYJYPNB3KJ2CVKSYIE43P2DQQIX74UT2A
            paging_token: CNY_GA6VXTS64XUOCQZSBAYHD24ZYJYPNB3KJ2CVKSYIE43P2DQQIX74UT2A_credit_alphanum4
            num_claimable_balances: 0
            num_contracts: 0
            num_liquidity_pools: 0
            accounts:
              authorized: 10
              authorized_to_maintain_liabilities: 0
              unauthorized: 0
            claimable_balances_amount: '0.0000000'
            contracts_amount: '0.0000000'
            liquidity_pools_amount: '0.0000000'
            balances:
              authorized: '899996000000.0000000'
              authorized_to_maintain_liabilities: '0.0000000'
              unauthorized: '0.0000000'
            flags:
              auth_required: false
              auth_revocable: false
              auth_immutable: false
              auth_clawback_enabled: false
          - _links:
              toml:
                href: https://StellarAssets.org/fx/.well-known/stellar.toml
            asset_type: credit_alphanum4
            asset_code: CNY
            asset_issuer: GAASPHILC6DCBPP2P4T66QNSYF6C6OGN6DK36NY4G5SBR7AWH75TJG7N
            paging_token: CNY_GAASPHILC6DCBPP2P4T66QNSYF6C6OGN6DK36NY4G5SBR7AWH75TJG7N_credit_alphanum4
            num_claimable_balances: 0
            num_contracts: 0
            num_liquidity_pools: 0
            accounts:
              authorized: 43
              authorized_to_maintain_liabilities: 0
              unauthorized: 0
            claimable_balances_amount: '0.0000000'
            contracts_amount: '0.0000000'
            liquidity_pools_amount: '0.0000000'
            balances:
              authorized: '1.0000000'
              authorized_to_maintain_liabilities: '0.0000000'
              unauthorized: '0.0000000'
            flags:
              auth_required: false
              auth_revocable: true
              auth_immutable: false
              auth_clawback_enabled: true
          - _links:
              toml:
                href: https://masterstellar.com/.well-known/stellar.toml
            asset_type: credit_alphanum4
            asset_code: CNY
            asset_issuer: GABGBJYLIC2OGATH3DVW22UEB66TFMWC3VKTAPFIOINVESRZLFKIHA4I
            paging_token: CNY_GABGBJYLIC2OGATH3DVW22UEB66TFMWC3VKTAPFIOINVESRZLFKIHA4I_credit_alphanum4
            num_claimable_balances: 0
            num_contracts: 0
            num_liquidity_pools: 0
            accounts:
              authorized: 1
              authorized_to_maintain_liabilities: 0
              unauthorized: 0
            claimable_balances_amount: '0.0000000'
            contracts_amount: '0.0000000'
            liquidity_pools_amount: '0.0000000'
            balances:
              authorized: '65000000000.0000000'
              authorized_to_maintain_liabilities: '0.0000000'
              unauthorized: '0.0000000'
            flags:
              auth_required: false
              auth_revocable: false
              auth_immutable: false
              auth_clawback_enabled: false
  parameters:
    OrderParam:
      name: order
      in: query
      required: false
      description: A designation of the order in which records should appear. Options include `asc` (ascending) or `desc` (descending). If this argument isn’t set, it defaults to `asc`.
      schema:
        type: string
        enum:
        - asc
        - desc
    AssetCodeParam:
      name: asset_code
      in: query
      required: false
      description: The code of the asset you would like to filter by.
    CursorParam:
      name: cursor
      in: query
      required: false
      description: A number that points to a specific location in a collection of responses and is pulled from the paging_token value of a record.
      schema:
        type: integer
        example: 6606617478959105
    LimitParam:
      name: limit
      in: query
      required: false
      description: The maximum number of records returned. The limit can range from 1 to 200 - an upper limit that is hardcoded in Horizon for performance reasons. If this argument isn’t designated, it defaults to 10.
      schema:
        type: integer
        example: 10
    AssetIssuerParam:
      name: asset_issuer
      in: query
      required: false
      description: The Stellar address of the issuer for the asset you would like to filter by.
  schemas:
    Asset:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            records:
              type: array
              items:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      toml:
                        $ref: '#/components/schemas/link'
                  asset_type:
                    type: string
                  asset_issuer:
                    $ref: '#/components/schemas/address'
                  paging_token:
                    type: string
                  accounts:
                    type: object
                    properties:
                      authorized:
                        type: integer
                      authorized_to_maintain_liabilities:
                        type: integer
                      unauthorized:
                        type: integer
                  num_claimable_balances:
                    type: integer
                  num_contracts:
                    type: integer
                  num_liquidity_pools:
                    type: integer
                  balances:
                    type: object
                    properties:
                      authorized:
                        type: string
                      authorized_to_maintain_liabilities:
                        type: string
                      unauthorized:
                        type: string
                  claimable_balances_amount:
                    type: string
                  contracts_amount:
                    type: string
                  liquidity_pools_amount:
                    type: string
                  flags:
                    type: object
                    properties:
                      auth_required:
                        type: boolean
                      auth_revocable:
                        type: boolean
                      auth_immutable:
                        type: boolean
    Links:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            next:
              $ref: '#/components/schemas/link'
            prev:
              $ref: '#/components/schemas/link'
    address:
      type: string
      pattern: G[A-Z0-9]{55}
    link:
      type: object
      properties:
        href:
          type: string
          format: link
        templated:
          type: boolean
      required:
      - href
